
/* The app-colors.css file is purposely empty. */


/* Browzine styles */
.browzine-icon  {
  margin-right:2px;
}

.browzine-external-link {
  width:15px;
  height:15px;
  min-width:15px;
  min-height:15px;
}


/* START: central-pkg.css */

/* Show alphabetical link-list; particularly found under search field on the Journal Search service. */
prm-alphabet-toolbar .md-button {
    color: black !important;
}

/* 3 statements below, make the personal details display a bit wider, so that the address display fully appears. */
prm-personal-info.layout, prm-personal-info .layout-row {
    box-sizing: border-box;
    display: block;
}
.animate-form-inputs md-input-container { width: 300px; }
md-card md-checkbox { padding-right: 2em; }

/* Undo Central Package's Google-style search term bolding and replace with default highlighter */
.text-highlight, mark {
    box-shadow: inset 0 -0.3em 0 0 #ffe564;
}

/* END: central-pkg.css */


/* START: fresno.css */

/* Navbar color changes to work with Central Package */
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-journals-search-bar {
    color: #fff;
    background-color: #002c76; 
}
.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1, prm-journals-search-bar.prm-hue1 {
    background-color: #002c76;
}
.prm-primary-bg.prm-hue2, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue2, prm-journals-search-bar.prm-hue2, md-backdrop.md-opaque {
    background-color: #002c76;
}
.prm-primary-bg.prm-hue3, prm-spinner.prm-hue3.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue3, prm-journals-search-bar.prm-hue3 {
    background-color: #c41230;
}
.prm-primary-bg.prm-hue3-important, prm-spinner.prm-hue3-important.overlay-cover.light-on-dark:after, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background, prm-search-bar.prm-hue3-important, prm-journals-search-bar.prm-hue3-important {
    color: #fff;
    background-color: #c41230 !important;
}
.prm-primary-bg.prm-hue4, prm-spinner.prm-hue4.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue4, prm-journals-search-bar.prm-hue4 {
    background-color: #babcbe;
}

/* Search bar color change to work with Central Package */
.prm-primary-bg, prm-journals-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark:after {
    color: #0d3881;
    background-color: #fff;
}

/* Logo treatment */
prm-logo div.product-logo { display: none; }
prm-logo div.product-logo-local { display: flex; }
prm-logo .product-logo a:hover {
    background-color: transparent; 
    text-transform: none; 
    box-shadow: none;
}
prm-topbar { height: 100px; }
prm-topbar prm-logo { max-width: 300px; }
.fresno-logo { width: 300px; }
.fresno-logo img { width: 100%; }

/* Action list icons treatment */
prm-action-list prm-icon md-icon.md-primoExplore-theme svg { color: #c41230; }
prm-action-list button.md-primoExplore-theme span.button-text { color: #002c76; }

/* Cause "Full text available" text in the brief display to not look like link. */
:not(.button-content) > .availability-status {
  color: rgb(58, 58, 58);
}

/* Control order of Send-To list links. */
[name="Citation"] { order: 0; }
[name="Print"] { order: 1; }
[name="E-mail"] { order: 2; }
[name="Permalink"] { order: 3; }
[name="EndNote"] { order: 4; }
[name="RISPushTo"] { order: 5; }
[name="EasyBib"] { order: 6; }
[name="SMS"] { order: 7; }
[name="RefWorks"] { order: 8; }
[name="Delicious"] { order: 9; }
[name="e-shelf"] { order: 10; }
[name="BibTeXPushTo"] { order: 11; }

/* Hide the "Get It From Other Institutions" sub-section, under "In the Library"
prm-alma-more-inst { display: none; } */

/* Hide left-menu gap or blanked "tags" list-item in Item Details */
[aria-label="Tags"] { display: none; }

/* Reduce space between result-item box and Online Access in item details */
prm-brief-result-container .search-result-availability-line-wrapper { min-height: 0.1em; }
#getit_link1_0.full-view-section { margin-top: 0.5em; }

/* Add colored background to filter titles */
prm-facet-group button.section-title {
    background-color: rgba(51,51,51,.1);
    transform-origin: 0;
}

/* Adjust padding for filter title colored backgrounds */
.sidebar-inner-wrapper {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* Adjust padding for filter content checkboxes */
prm-facet-group .section-content .md-chip,
prm-facet-group .section-content .md-range-content {
    padding-left: .5em; 
}

/* END: fresno.css */


/* START: other-browzine.css */
.browzine-icon  {
  margin-right:2px;
}

.browzine-external-link {
  width:15px;
  height:15px;
  min-width:15px;
  min-height:15px;
}

/* END: other-browzine.css */

/* START: other-item-detail.css */

/* Change order of Item Record sections -- lower the "Send To" section */
prm-service-header { order: 0; }
#action_list{ order: 2; }
#details { order: 3; }
#links { order: 4; }
#virtualBrowse { order: 5; }
#citationTrails { order: 6; }
#altmetrics { order: 6; }

.full-view-inner-container {
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
}

/* Control order of Item Detail Sections in "Left-side Nav" panel. */
[aria-label="In the library"] { order: 0 !important; }
[aria-label="Online Access"] { order: 0 !important; }
[aria-label="Send to"] { order: 2 !important; }
[aria-label="Details"] { order: 3 !important; }
[aria-label="Links"] { order: 4 !important; }
[aria-label="Virtual Browse"] { order: 5 !important; }
[aria-label="Citations"] { order: 6 !important; }
[aria-label="Altmetrics"] { order: 6 !important; }

/* END: other-item-detail.css */
/* START: other-mods.css */

/* 
  Used in concert with "display" code below,
  Displays the "title" attribute for any item that has specific text in that title attribute. 
*/
[title="Unavailable at Fresno State. See Request Options."]:after {
  position: absolute;
  content: attr(title);
  float: right;
  margin-left: 22px;
  top: 3px;
  width: 350px;
  height: 1.25rem;
  color: #e08303;
}
/* 
  Used in concert with ":after" code above,
  Hides the Primo Generated Status when the "title" attribute exists and the items have a specific "status". 
*/
button[title="Unavailable at Fresno State. See Request Options."] span.not_restricted,
button[title="Unavailable at Fresno State. See Request Options."] span.restricted {
  display: none;
}
/* Change link colors for edge cases affected by code above. */
span.available_in_other_institution,
span.does_not_exist_in_my_institution_available {
    color: #e08303;
}

/* Hide Tags in Detailed Display and in Main Menu, when signed-in */
[aria-label="Tags"],
.md-button[aria-label="nui.mainmenu.label.tags"],
#tags { display: none; }

/* Hide Tags on full list (ellipsis) */
md-card.transparent-card:nth-child(2) {
  display:none;
}

/* Hide OTB No-Records card, per https://github.com/SarahZum/primo-explore-custom-no-results */
prm-no-search-result > md-card {
    display: none;
}

/* END: other-mods.css */


/* START: workarounds.css  --- This should be the last file included. */

/* Put your IE-only styles here. Works for IS 10 & IE 11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    
    /* IE has problems outlining the search box. */
    .simple-search-wrapper .search-input #searchBar { border: 2px solid #002c76 !important; }
}

/* END: workarounds.css */
