
/* The app-colors.css file is purposely empty. */


/* The central-pkg.css file is purposely empty. */


/* START: fresno.css */

/* Navbar color changes to work with Central Package */
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-journals-search-bar {
    color: #fff;
    background-color: #002c76; 
}
.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1, prm-journals-search-bar.prm-hue1 {
    background-color: #002c76;
}
.prm-primary-bg.prm-hue2, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue2, prm-journals-search-bar.prm-hue2, md-backdrop.md-opaque {
    background-color: #002c76;
}
.prm-primary-bg.prm-hue3, prm-spinner.prm-hue3.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue3, prm-journals-search-bar.prm-hue3 {
    background-color: #c41230;
}
.prm-primary-bg.prm-hue3-important, prm-spinner.prm-hue3-important.overlay-cover.light-on-dark:after, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background, prm-search-bar.prm-hue3-important, prm-journals-search-bar.prm-hue3-important {
    color: #fff;
    background-color: #c41230 !important;
}
.prm-primary-bg.prm-hue4, prm-spinner.prm-hue4.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue4, prm-journals-search-bar.prm-hue4 {
    background-color: #babcbe;
}

/* Search bar color change to work with Central Package */
.prm-primary-bg, prm-journals-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark:after {
    color: #0d3881;
    background-color: #fff;
}

/* Logo treatment */
prm-logo div.product-logo { display: none; }
prm-logo div.product-logo-local { display: flex; }
prm-logo .product-logo a:hover {
    background-color: transparent; 
    text-transform: none; 
    box-shadow: none;
}
prm-topbar { height: 100px; }
prm-topbar prm-logo { max-width: 300px; }
.fresno-logo { width: 300px; }
.fresno-logo img { width: 100%; }

/* Action list icons treatment */
prm-action-list prm-icon md-icon.md-primoExplore-theme svg { color: #c41230; }
prm-action-list button.md-primoExplore-theme span.button-text { color: #002c76; }

/* Cause "Full text available" text in the brief display to not look like link. */
:not(.button-content) > .availability-status {
  color: rgb(58, 58, 58);
}

/* Change order of Item Record sections -- lower the "Send To" section */
prm-service-header { order: 0; }
#action_list{ order: 2; }
#details { order: 3; }
#links { order: 4; }
#virtualBrowse { order: 5; }

.full-view-inner-container {
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
}

[aria-label="In the library"] { order: 0 !important; }
[aria-label="Online Access"] { order: 1 !important; }
[aria-label="Send to"] { order: 2 !important; }
[aria-label="Details"] { order: 3 !important; }
[aria-label="Links"] { order: 4 !important; }
[aria-label="Virtual Browse"] { order: 5 !important; }

/* END: fresno.css */


/* The other-mods.css file is purposely empty. */
