
/* The app-colors.css file is purposely empty. */


/* The central-pkg.css file is purposely empty. */


/* START: fresno.css */

/* Navbar color changes to work with Central Package */
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-journals-search-bar {
    color: #fff;
    background-color: #002c76; 
}
.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1, prm-journals-search-bar.prm-hue1 {
    background-color: #002c76;
}
.prm-primary-bg.prm-hue2, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue2, prm-journals-search-bar.prm-hue2, md-backdrop.md-opaque {
    background-color: #002c76;
}
.prm-primary-bg.prm-hue3, prm-spinner.prm-hue3.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue3, prm-journals-search-bar.prm-hue3 {
    background-color: #c41230;
}
.prm-primary-bg.prm-hue3-important, prm-spinner.prm-hue3-important.overlay-cover.light-on-dark:after, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background, prm-search-bar.prm-hue3-important, prm-journals-search-bar.prm-hue3-important {
    color: #fff;
    background-color: #c41230 !important;
}
.prm-primary-bg.prm-hue4, prm-spinner.prm-hue4.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue4, prm-journals-search-bar.prm-hue4 {
    background-color: #babcbe;
}

/* Search bar color change to work with Central Package */
.prm-primary-bg, prm-journals-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark:after {
    color: #0d3881;
    background-color: #fff;
}

/* Logo treatment */
prm-logo div.product-logo { display: none; }
prm-logo div.product-logo-local { display: flex; }
prm-logo .product-logo a:hover {
    background-color: transparent; 
    text-transform: none; 
    box-shadow: none;
}
prm-topbar { height: 100px; }
prm-topbar prm-logo { max-width: 300px; }
.fresno-logo { width: 300px; }
.fresno-logo img { width: 100%; }

/* Action list icons treatment */
prm-action-list prm-icon md-icon.md-primoExplore-theme svg { color: #c41230; }
prm-action-list button.md-primoExplore-theme span.button-text { color: #002c76; }

/* Cause "Full text available" text in the brief display to not look like link. */
:not(.button-content) > .availability-status {
  color: rgb(58, 58, 58);
}

/* Change order of Item Record sections -- lower the "Send To" section */
prm-service-header { order: 0; }
#action_list{ order: 2; }
#details { order: 3; }
#links { order: 4; }
#virtualBrowse { order: 5; }

.full-view-inner-container {
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
}

/* Control order of Item Detail Sections in "Left-side Nav" panel. */
[aria-label="In the library"] { order: 0 !important; }
[aria-label="Online Access"] { order: 1 !important; }
[aria-label="Send to"] { order: 2 !important; }
[aria-label="Details"] { order: 3 !important; }
[aria-label="Links"] { order: 4 !important; }
[aria-label="Virtual Browse"] { order: 5 !important; }

/* Control order of Send-To list links. */
[name="Citation"] { order: 0; }
[name="Print"] { order: 1; }
[name="E-mail"] { order: 2; }
[name="Permalink"] { order: 3; }
[name="EndNote"] { order: 4; }
[name="RISPushTo"] { order: 5; }
[name="EasyBib"] { order: 6; }
[name="SMS"] { order: 7; }
[name="RefWorks"] { order: 8; }
[name="Delicious"] { order: 9; }
[name="e-shelf"] { order: 10; }
[name="BibTeXPushTo"] { order: 11; }

/* Hide the "Get It From Other Institutions" sub-section, under "In the Library" */
prm-alma-more-inst { display: none; }

/* Hide left-menu gap or blanked "tags" list-item in Item Details */
[aria-label="Tags"] { display: none; }

/* END: fresno.css */

/* START: other-mods.css */

/* Displays the title attribute for any item that has specific text in the title attribute */
[title="Unavailable at Fresno State. See Request Options"]:after {
  position: absolute;
  content: attr(title);
  float: right;
  margin-left: 22px;
  top: 3px;
  width: 350px;
  height: 1.25rem;
  color: #e08303;
}

/* Hides the Primo Generated Status when the title attribute exists and the items have a specific status */
button[title="Unavailable at Fresno State. See Request Options"] span.not_restricted,
button[title="Unavailable at Fresno State. See Request Options"] span.does_not_exist_in_maininstitution {
  display: none;
}

/* END: other-mods.css */
