csu-custom-uresolver prm-spinner {
	position: relative !important;
}
csu-custom-uresolver prm-spinner .spinner-wrapper {
	transform: rotate(90deg) scale(1) translateY(0);
}
csu-custom-uresolver prm-spinner.small {
	display: inline-flex !important;
}
csu-custom-uresolver prm-spinner.small .spinner-wrapper .loader {
	width: 20px;
	height: 20px;
}
csu-custom-uresolver prm-spinner.small .spinner-wrapper .loader .diamond {
	left: initial;
	width: 10px;
	height: 10px;
	animation-name: diamondsSmall;
}
@keyframes diamondsSmall {
	50% {
		transform: translateY(-1.5em) rotate(45deg) scale(1);
	}
	100% {
		transform: translateY(-3em) rotate(45deg) scale(0);
	}
}
span.location {
	font-weight: bold; font-size: 16px; padding-left: 1em;
}
span.subLocation {
	font-weight: bold; font-size: 14px; padding-left: 2em;
}
span.callNumber {
	font-style: italic; font-size: 14px;
}
span.avaNote {
	position: relative; top: -.4em; padding-left: 2em; font-style: italic; font-size: 14px;
}
span.items-available {
	font-weight: bold;
	font-size: 14px;
	color: #0f7d00;
}
span.items-unavailable {
	font-weight: bold;
	font-size: 14px;
	color: #b00015;
}
div.localHoldings, div.extHoldings {
	margin: .75em 0 1.5em;
}

/** csu holdings table **/

h4.csu-holdings-header {
    margin: 0;
	margin-bottom: 20px;
	margin-top: 20px;
    line-height: 1.2em;
    position: relative;
    padding-right: 1em;
    font-weight: 300;
	font-size: 20px;
	letter-spacing: .005em;
}
.csu-holdings-limiter {
	width: 100%;
	margin: 0 auto;
}
.consortia-holdings .csu-holdings-limiter {
	margin-top: 30px;
}
.csu-holdings-container {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.csu-holdings-wrap {
	width: 1170px;
}
.csu-holdings table {
	border-spacing: 0;
	border: 1px solid #36304a;
	box-shadow: 0 2px 6px 0 #eee;
	background: white;
	border: 1px solid #ccc;
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.csu-holdings table td.available {
	font-weight: bold;
}
.csu-holdings table * {
	position: relative;
}
.csu-holdings table td, .csu-holdings table th {
	padding-left: 8px;
}
.csu-holdings table thead tr {
	height: 50px;
	background: #36304a;
}
.csu-holdings table tbody tr {
	height: 50px;
}
.csu-holdings table tbody tr:last-child {
	border: 0;
}
.csu-holdings table td, .csu-holdings table th {
	text-align: left;
}
.csu-holdings table td.l, .csu-holdings table th.l {
	text-align: right;
}
.csu-holdings table td.c, .csu-holdings table th.c {
	text-align: center;
}
.csu-holdings table td.r, .csu-holdings table th.r {
	text-align: center;
}
.csu-holdings table th {
	font-size: 16px;
	color: #fff;
	line-height: 1.2;
	font-weight: unset;
}
.csu-holdings tbody tr:nth-child(even), .csu-holdings tbody:nth-child(even) tr.holding-header {
	background-color: #f5f5f5;
}
.csu-holdings tbody tr:nth-child(even):hover, .csu-holdings tbody tr:nth-child(even):focus, .csu-holdings tbody:nth-child(even) tr.holding-header:hover, .csu-holdings tbody:nth-child(even) tr.holding-header:focus {
	background-color: #fff;
}
.consortia-holdings .csu-holdings tbody:nth-child(even) tr.holding-header {
	background-color: initial;
}
.consortia-holdings .csu-holdings tbody tr:nth-child(even) {
	background-color: #f5f5f5 !important;
}
.consortia-holdings .csu-holdings tbody tr:nth-child(even):hover, .consortia-holdings .csu-holdings tbody tr:nth-child(even):focus {
	background-color: #fff !important;
}
.consortia-holdings .csu-holdings tbody tr:nth-child(odd):hover, .consortia-holdings .csu-holdings tbody tr:nth-child(odd):focus {
	background-color: #f5f5f5 !important;
}
.csu-holdings tbody:nth-child(odd) {
	border-bottom: 1px solid #000;
}
.csu-holdings tbody:nth-child(even) {
	border-bottom: 1px solid #000;
}
.csu-holdings tbody:last-child {
	border-bottom: none;
}
.csu-holdings tbody tr {
	font-size: 15px;
	color: #000;
	line-height: 1.2;
	font-weight: unset;
}
.csu-holdings tbody tr:hover, .csu-holdings tbody tr:focus {
	background-color: #f5f5f5;
	cursor: pointer;
}
.csu-holdings .column1 {
	width: 260px;
	padding-left: 40px;
}
.csu-holdings .column2 {
	width: 160px;
}
.csu-holdings .column3 {
	width: 245px;
}
.csu-holdings .column4 {
	width: 110px;
	text-align: right;
}
.csu-holdings .column5 {
	width: 170px;
	text-align: right;
}
.csu-holdings .column6 {
	width: 222px;
	text-align: right;
	padding-right: 62px;
}
@media screen and (min-width: 993px) {
	.csu-holdings table tbody tr td.location {
		padding-right: 25px;
	}
	.csu-holdings table tbody tr td.sublocation {
		padding-left: 25px;
	}
	.csu-holdings table tbody tr td.location {
		width: 40%;
	}
	.csu-holdings table tbody tr td.callNumber {
		width: 15%;
	}
	.csu-holdings table tbody tr td.available {
		width: 20%;
	}
	.csu-holdings table tbody tr td.description {
		width: 25%;
	}
}
@media screen and (max-width: 992px) {
	.csu-holdings table {
		display: block;
	}
	.csu-holdings table > *, .csu-holdings table tr, .csu-holdings table tr.holding-item td, .csu-holdings table tr.holding-header td:last-child, .csu-holdings table th {
		display: block;
	}
	.csu-holdings table tr.holding-header td {
		display: inline-block;
		line-height: 24px;
		vertical-align: top;
	}
	.csu-holdings table thead {
		display: none;
	}
	.csu-holdings table tbody tr.holding-header {
		height: auto;
		padding: 17px 10px 10px 8px;
	}
	.csu-holdings table tbody tr.holding-header:first-child {
		padding-top: 21px;
	}
	.csu-holdings table tbody tr.holding-item {
		height: auto;
		padding: 25px 0;
	}
	.csu-holdings table tbody tr.holding-item td {
		padding-left: 40% !important;
		margin-bottom: 24px;
	}
	.csu-holdings table tbody tr td:last-child {
		margin-bottom: 0;
	}
	.csu-holdings table tbody tr td:before {
		font-size: 14px;
		color: #999999;
		line-height: 1.2;
		font-weight: unset;
		position: absolute;
		width: 40%;
		left: 30px;
		top: 0;
	}
	.csu-holdings table tbody tr.holding-header td:before {
		font-size: 14px;
		color: #999999;
		line-height: 1.2;
		font-weight: unset;
		position: absolute;
		width: 100%;
		left: 5px;
		top: -12px;
	}
	.csu-holdings table tbody tr.holding-header td.location {
		width: calc(100% - 210px);
	}
	.csu-holdings table tbody tr.holding-header td.callNumber {
		width: 90px;
	}
	.csu-holdings table tbody tr.holding-header td.available {
		width: 110px;
	}
	.csu-holdings table tbody tr.holding-header td.description {
		width: 100%;
		padding-top: 15px;
	}
	.csu-holdings table tbody tr.holding-header td.description.hideme {
		display: none;
	}
	.csu-holdings table tbody tr.holding-item td.campus:before, .csu-holdings table tbody tr.holding-header td.campus:before {
		content: "Campus";
	}
	.csu-holdings table tbody tr.holding-item td.sublocation:before, .csu-holdings table tbody tr.holding-header td.location:before {
		content: "Location";
	}
	.csu-holdings table tbody tr.holding-item td.callNumber:before, .csu-holdings table tbody tr.holding-header td.callNumber:before {
		content: "Call Number";
	}
	.csu-holdings table tbody tr.holding-item td.available:before, .csu-holdings table tbody tr.holding-header td.available:before {
		content: "Available";
	}
	.csu-holdings table tbody tr.holding-item td.description:before, .csu-holdings table tbody tr.holding-header td.description:before {
		content: "Description";
	}
	.csu-holdings table tbody tr.holding-header td.description:before {
		padding-top: 12px;
	}
	.csu-holdings .column4,
	.csu-holdings .column5,
	.csu-holdings .column6,
	.csu-holdings .column1,
	.csu-holdings .column2,
	.csu-holdings .column3 {
		width: 100%;
	}
	.csu-holdings tbody tr {
		font-size: 14px;
	}
	.consortia-holdings .csu-holdings table tbody tr.holding-header td:last-child {
		display: inline-block;
	}
	.consortia-holdings .csu-holdings table tbody tr.holding-header td.location {
		width: 35%;
		display: inline-block;
	}
	.consortia-holdings .csu-holdings table tbody tr.holding-header td.campus, .consortia-holdings .csu-holdings table tbody tr.holding-header td.callNumber {
		width: 140px;
	}
	.full-view-section-content:after { /* this needs to be hidden to prevent some weird hover behavior */
		display: none;
	}
}
@media (max-width: 860px) {
	.consortia-holdings .csu-holdings table tbody tr.holding-header td.campus, .consortia-holdings .csu-holdings table tbody tr.holding-header td.location, .consortia-holdings .csu-holdings table tbody tr.holding-header td.callNumber, .consortia-holdings .csu-holdings table tbody tr.holding-header td.available {
		width: 45%;
	}
	.consortia-holdings .csu-holdings table tbody tr.holding-header td.callNumber, .consortia-holdings .csu-holdings table tbody tr.holding-header td.available {
		padding-top: 15px;
	}
	.consortia-holdings .csu-holdings table tbody tr.holding-header td.callNumber:before, .consortia-holdings .csu-holdings table tbody tr.holding-header td.available:before {
		padding-top: 12px;
	}
}
@media (max-width: 675px) {
	.consortia-holdings .csu-holdings table tbody tr.holding-header td.campus, .consortia-holdings .csu-holdings table tbody tr.holding-header td.location, .consortia-holdings .csu-holdings table tbody tr.holding-header td.callNumber, .consortia-holdings .csu-holdings table tbody tr.holding-header td.available {
		width: 49%;
	}
}
@media (max-width: 400px) {
	.csu-holdings table tbody tr.holding-header td.campus, .csu-holdings table tbody tr.holding-header td.location, .csu-holdings table tbody tr.holding-header td.callNumber,  .csu-holdings table tbody tr.holding-header td.available,  .csu-holdings table tbody tr.holding-header td.description {
		width: 100% !important;
	}
	.consortia-holdings .csu-holdings table tbody tr.holding-header td.callNumber, .consortia-holdings .csu-holdings table tbody tr.holding-header td.available, .consortia-holdings .csu-holdings table tbody tr.holding-header td.callNumber:before, .consortia-holdings .csu-holdings table tbody tr.holding-header td.available:before {
		padding-top: 0px;
	}
}
@media (max-width: 576px) {
	.csu-holdings-container {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width: 450px) {
	.csu-holdings table tbody tr.holding-header td.location {
		width: 50%;
	}
	.csu-holdings table tr.holding-header td {
		margin-top: 17px;
	}
	.csu-holdings table tbody tr.holding-header {
		padding-top: 0;
	}
	.consortia-holdings .csu-holdings table tr.holding-header td {
		margin-top: 12px;
	}
	.consortia-holdings .csu-holdings table tbody tr.holding-header:first-child, .consortia-holdings .csu-holdings table tbody tr.holding-header {
		padding-top: 12px;
	}
}
@media (max-width: 375px) {
	.csu-holdings table tbody tr.holding-item td {
		padding-left: 45% !important;
	}
	.csu-holdings table tbody tr td:before {
		left: 10px;
	}
}
@media (max-width: 250px) {
	.csu-holdings table tbody tr.holding-item td {
		padding-left: 55% !important;
	}
	.csu-holdings table tbody tr td:before {
		left: 2px;
	}
}

.csu-resource-sharing-request button {
	background-color: #f7eda3;
	border: 1px solid #e1cd51 !important;
}