<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<div class="top-nav-bar-links buttons-group layout-align-center-center layout-row flex-100" id="main menu" layout="row" role="list" layout-align="center center" flex="100">
<!---->
<a class="zero-margin flex-button multi-line-button button-over-dark md-button md-primoExplore-theme md-ink-ripple layout-align-center-center layout-column" ng-transclude="" tabindex="0" role="listitem" ng-href="" layout="column" layout-align="center center" (click)="::$ctrl.updateUrl(urlConfig)" ng-repeat="urlConfig in $ctrl.viewUrlsList |limitTo:$ctrl.showCount()" ng-disabled="$ctrl.dispalyResourceSharing(urlConfig.url)" ng-hide="$ctrl.hideLegantoMenuLink(urlConfig.url,urlConfig.label)" aria-label="TAGS" aria-hidden="false" style=""><span class="item-content" translate="nui.mainmenu.label.tags">TAGS</span></a>
<!---->
<a class="zero-margin flex-button multi-line-button button-over-dark md-button md-primoExplore-theme md-ink-ripple layout-align-center-center layout-column" ng-transclude="" tabindex="0" role="listitem" ng-href="" layout="column" layout-align="center center" (click)="::$ctrl.updateUrl(urlConfig)" ng-repeat="urlConfig in $ctrl.viewUrlsList |limitTo:$ctrl.showCount()" ng-disabled="$ctrl.dispalyResourceSharing(urlConfig.url)" ng-hide="$ctrl.hideLegantoMenuLink(urlConfig.url,urlConfig.label)" aria-label="Citation Search " aria-hidden="false" style=""><span class="item-content" translate="nui.mainmenu.label.citationlinker">Citation Search</span></a>
<!---->
<a class="zero-margin flex-button multi-line-button button-over-dark md-button md-primoExplore-theme md-ink-ripple layout-align-center-center layout-column" ng-transclude="" tabindex="0" role="listitem" ng-href="" layout="column" layout-align="center center" (click)="::$ctrl.updateUrl(urlConfig)" ng-repeat="urlConfig in $ctrl.viewUrlsList |limitTo:$ctrl.showCount()" ng-disabled="$ctrl.dispalyResourceSharing(urlConfig.url)" ng-hide="$ctrl.hideLegantoMenuLink(urlConfig.url,urlConfig.label)" aria-label="Databases" aria-hidden="false" style=""><span class="item-content" translate="mainmenu.label.databases">Databases</span></a>
<!---->
<a class="zero-margin flex-button multi-line-button button-over-dark md-button md-primoExplore-theme md-ink-ripple layout-align-center-center layout-column" ng-transclude="" tabindex="0" role="listitem" ng-href="" layout="column" layout-align="center center" (click)="::$ctrl.updateUrl(urlConfig)" ng-repeat="urlConfig in $ctrl.viewUrlsList |limitTo:$ctrl.showCount()" ng-disabled="$ctrl.dispalyResourceSharing(urlConfig.url)" ng-hide="$ctrl.hideLegantoMenuLink(urlConfig.url,urlConfig.label)" aria-label="libguides" aria-hidden="false" style=""><span class="item-content" translate="mainmenu.label.libguides">libguides</span></a>
<!---->
<a class="zero-margin flex-button multi-line-button button-over-dark md-button md-primoExplore-theme md-ink-ripple layout-align-center-center layout-column" ng-transclude="" tabindex="0" role="listitem" ng-href="" layout="column" layout-align="center center" (click)="::$ctrl.updateUrl(urlConfig)" ng-repeat="urlConfig in $ctrl.viewUrlsList |limitTo:$ctrl.showCount()" ng-disabled="$ctrl.dispalyResourceSharing(urlConfig.url)" ng-hide="$ctrl.hideLegantoMenuLink(urlConfig.url,urlConfig.label)" aria-label="Journal Search" aria-hidden="false" style=""><span class="item-content" translate="nui.mainmenu.label.journalsearch">Journal Search</span></a>
<!---->
<a class="zero-margin flex-button multi-line-button button-over-dark md-button md-primoExplore-theme md-ink-ripple layout-align-center-center layout-column" ng-transclude="" tabindex="0" role="listitem" ng-href="" layout="column" layout-align="center center" (click)="::$ctrl.updateUrl(urlConfig)" ng-repeat="urlConfig in $ctrl.viewUrlsList |limitTo:$ctrl.showCount()" ng-disabled="$ctrl.dispalyResourceSharing(urlConfig.url)" ng-hide="$ctrl.hideLegantoMenuLink(urlConfig.url,urlConfig.label)" aria-label="Browse" aria-hidden="false" style=""><span class="item-content" translate="mainmenu.label.Browse">Browse</span>
<div class="md-ripple-container"></div>
</a>
  <!----><!----></div>
</body>
</html>
