/**Duplicated from Central Package**/
/** CSU CUSTOM STYLES **/

/* make facets 25%-30% wider */

.flex-gt-md-25.sidebar{
	webkit-flex: 0 0 25%;
	flex: 0 0 25%;
}
@media (max-width: 1919px) and (min-width: 1280px) {
	.flex-lg-20, .layout-lg-row>.flex-lg-20, .layout-row>.flex-lg-20 {
		webkit-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
}
.layout-row>.flex-gt-lg-10{
	webkit-flex: 0 0 26%;
	flex: 0 0 26%;
	max-width: none;
}
.main{
	webkit-flex: 0 0 55%;
	/*flex: 0 0 55%; changed after Dec 30 2019 update*/
}
#mainResults {
	padding-left: 1em;
}

/* un-bold facet values */

.section-content .md-chips .md-chip strong {
	font-weight: normal!important;
}

/* results & full record have white background, facets have grey */

body, html {
    background-color: #fff;
}
.list-item-wrapper, .full-view-inner-container {
	background-color: #fff;
}
.sidebar-inner-wrapper {
	background-color: #efefef;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-right: 0;
}
prm-journals-search-bar .search-switch-buttons .md-button.switch-to-advanced, prm-search-bar .search-switch-buttons .md-button.switch-to-advanced {
	color: #333;
}

/* google-style search term bold instead of highlighter */

.text-highlight, mark {
	box-shadow: none;
}
.searchword {
	font-weight: bold;
	color: #6a6a6a;
}

/* brief results link darker blue */

prm-brief-result .item-title span {
	color: #1a4c76;
}

/* overlay background darker */

.prm-primary-bg.prm-hue2, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue2, prm-journals-search-bar.prm-hue2, md-backdrop.md-opaque {
	background-color: #000 !important;
}

/* make sure logo is responsive */

prm-topbar prm-logo {
	width: 100% !important;
	max-width: none;
	min-width: 200px;
}

prm-logo .logo-image, prm-logo img {
	width: 100%;
	height: auto;
}

/* hide tag feature */

.md-button[aria-label="nui.mainmenu.label.tags"],.md-button[aria-label="TAGS"] {
	display:none;
}
/*hide Find Databases button below search box*/
.search-extras{
	display:none;
	height: 1px;
}

[translate="brief.results.tabs.tags"], prm-tags-list {
	display: none;
}

/* hide pseudo-full text link in full record */

prm-full-view-service-container  prm-search-result-availability-line {
	display: none;
}

/* temp fix for browse background color */

.prm-primary-bg, prm-browse-search-bar, prm-journals-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark:after, prm-tags-search-bar {
	background-color: inherit;
}

/* move browse pager to right */

.__gt-md prm-page-nav-menu {
    bottom: 1.5em;
    right: 2em;
    left: unset;
}

md-tooltip[md-direction=right] {
    left: unset !important;
    right: 70px;
}


/**End Central Package Material**/

/*** Northridge (01CALS_UNO) ***/

/* navbar color change */

.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-journals-search-bar {
	color: white;
	background-color: #fff;
}
.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1, prm-journals-search-bar.prm-hue1 {
	background-color: #fff;
}
.prm-primary-bg.prm-hue2, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue2, prm-journals-search-bar.prm-hue2, md-backdrop.md-opaque {
	background-color: #fff;
}
.prm-primary-bg.prm-hue3, prm-spinner.prm-hue3.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue3, prm-journals-search-bar.prm-hue3 {
	background-color: #fff;
}
.prm-primary-bg.prm-hue3-important, prm-spinner.prm-hue3-important.overlay-cover.light-on-dark:after, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background, prm-search-bar.prm-hue3-important, prm-journals-search-bar.prm-hue3-important {
	background-color: #fff !important;
}
.prm-primary-bg.prm-hue4, prm-spinner.prm-hue4.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue4, prm-journals-search-bar.prm-hue4 {
	background-color: #fff;
}
/* search bar color change */

.prm-primary-bg, prm-journals-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark:after {
	color: #333;
	background-color: #fff;
}
/* make logo clickable */

prm-logo div.product-logo {
	display: none;
}
prm-logo div.product-logo-local {
	display: flex;
}
prm-logo .product-logo a:hover {
    background-color:transparent;
    text-transform:none;
    box-shadow: none;
}

/* light top background */

div.top-nav-bar, ._md-fab-toolbar-wrapper {
	border-bottom: 2px solid #eee;
}
div.top-nav-bar * {
	color: #222 !important;
}
prm-facet div div div.sidebar-section.margin-top-small.margin-bottom-medium.compensate-padding-left:nth-child(2) {
	order: 100;
}
prm-facet div div div.sidebar-section.margin-top-small.margin-bottom-medium.compensate-padding-left:nth-child(3) {
	order: 100;
}

/* user area */

/* These should be styles that resemble the default top-right menu*/
prm-user-area .md-fab-action-item .md-button,
prm-user-area .md-fab-action-item md-input-container {
    padding: 0 1em;
    transition-duration: 0s;
}
            
prm-user-area .md-fab-action-item md-input-container {
    margin: 0;
    height: 100%;
    text-transform: uppercase;
}
            
prm-user-area .md-fab-action-item md-input-container {
    color: hsla(0,0%,100%,.65);
}
            
prm-user-area md-select {
    top: -2px;
    position: relative;
}
    
prm-user-area .md-fab-action-item md-input-container:focus:not([disabled]), 
prm-user-area .md-fab-action-item md-input-container:hover:not([disabled]) {
    background-color: rgba(0,0,0,.1);
    color: #fff;
}

*/
/**CSUN Added after Central package**/

/** Header Design**/
prm-topbar {
	height: 66px;
}
prm-logo .logo-image {
	width: 100%;
	height: auto;
}
prm-topbar prm-logo {
	z-index: 10;
	/*height: 100%;*/
/*	max-width: 400px;*/
}

a.image-link
{ background-color: transparent !important;
box-shadow:none !important;
}


div.hide-xs.flex-50 {
	flex: 1 1 10%;
}

.logo-container {
	flex: 1 1 50%;
	padding-left: .3em;
}

div.top-nav-bar.layout-row div.flex-xs-100.flex-50 {
	flex: 1 1 1%;
    max-width: 50%;
    max-height: 100%;
    box-sizing: border-box;
}

div.flex-container.logos {
  padding:0 0 0 1em;
  margin: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex: 2 2 50%;
  max-height:100px;
  width: 100%;
  height: auto;
  min-width: 200px;
}
div.wrap {
 -webkit-flex-wrap: wrap;
 /* flex-wrap: wrap;*/
}

.flex-item {
margin: auto 0;
text-align: left;
}

/*end header customization*/

a:link, a:visited, a:hover, a:active {
	text-decoration: underline;
}
a:link, a:visited {
	color: #337ab7;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* User Menu SPace Display*/
/*adjusts the order of Main Menu Links*/
a[aria-label="mainmenu.label.library_home"]{order:0}
a[aria-label="Databases"]{order:0}
a[aria-label="LibGuides"]{order:0}
a[aria-label="Browse"]{order:3}
button#more-links-button{order: 3}

/*Disable Tags*/ 
.md-button[aria-label="nui.mainmenu.label.tags"] {
	display: none;
}

[aria-label="Tags"] {
	display: none;
}
#tags {
	display: none;
}

/*Disable Journal Search*/ 
.md-button[aria-label="nui.mainmenu.label.journalsearch"] {
	display: none;
}

[aria-label="nui.mainmenu.label.journalsearch"] {
	display: none;
}

/**Hiding Tags in Mobile**/

md-card.transparent-card.md-ink-ripple._md.md-primoExplore-theme.flex-gt-xs-45.flex-gt-sm-30.flex-100:first-child
{
	display:none !important;
}

/**Hiding Journal Search in Mobile**/

md-card.transparent-card.md-ink-ripple._md.md-primoExplore-theme.flex-gt-xs-45.flex-gt-sm-30.flex-100:first-child
{
	display:none !important;
}

/**Hiding Language in Mobile**/

div.overlay-menu-item.layout-align-center-center.layout-row{
	display:none;
}


/*this is for the Full Display*/


prm-service-header {
	order: 0;
}
#action_list {
	order: 1;
}
#getit_link1_0 {
	order: 2;
}
#getit_link1_1 {
	order: 3;
}
#getit_link2 {
	order: 4;
	}
#links {
	order: 5;
}
#details {
	order: 6;
}
#virtualBrowse {
	order: 7;
}
.full-view-inner-container {
	padding-bottom: 10em;
	display: flex;
	flex-direction: column;
}
[aria-label="Top"] {
	order: 0 !important;
}
[aria-label="Send To"] {
	order: 1 !important;
}
[aria-label="View It"] {
	order: 2 !important;
}
[aria-label="Get It"] {
	order: 3 !important;
}
[aria-label="Links"] {
	order: 5 !important;
}
[aria-label="Details"] {
	order: 6 !important;
}
[aria-label="Virtual Browse"] {
	order: 7 !important;
}
/*
prm-alma-more-inst {
	display: none;
}
*/

/* Patron record display*/

prm-personal-info.layout, prm-personal-info .layout-row {
    box-sizing: border-box;
    display: block;
}

.animate-form-inputs md-input-container {
    width: 300px;
}
md-card md-checkbox {
    padding-right: 2em;
}
/* CSUN added this to change the width of the page*/
prm-static.md-padding.flex {
  flex: auto;
}

/*Browse bar background*/
.prm-primary-bg, prm-atoz-search-bar, prm-browse-search-bar, prm-collection-gallery-header .collection-header-inner, prm-newspapers-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark:after, prm-tags-search-bar {
	background-color: #ffffff;
}

/*Browse Journal nav*/
a.md-button md-primoExplore-theme md-ink-ripple:link,
a.md-button md-primoExplore-theme md-ink-ripple:visited,
a.md-button md-primoExplore-theme md-ink-ripple:hover,
a.md-button md-primoExplore-theme md-ink-ripple:active {
	color:#000;
}

prm-alphabet-toolbar .md-button.hovered:not([disabled]), 

prm-alphabet-toolbar .md-button:focus:not([disabled]), 
prm-alphabet-toolbar .md-button:hover:not([disabled]){
	background-color: #ddd;
}

prm-alphabet-toolbar .md-button._md-focused:not([disabled]),
prm-alphabet-toolbar .md-button.md-focused:not([disabled]),
prm-alphabet-toolbar .md-button:focus:not([disabled]){
	background-color: #ede49e;
}

/*Changes adapted from Central Package to Restore user menu after August 2018 update*/

/* user area */

prm-user-area {
    display: flex;
}

/* display username under sign out button */

prm-user-area .md-toolbar-tools {
	font-size: 1em;
}

prm-user-area .md-button[aria-label="Sign out"] {
	line-height: 1.3em;
}
prm-user-area .md-button[aria-label="Sign out"] prm-icon {
	float: left;
	padding-top: 9px;
	padding-right: 4px;
}
prm-user-area .md-button[aria-label="Sign out"] .layout-column {
	margin-bottom: 1px;
	padding-bottom: 1px;
	padding-right: 30px;
}
prm-user-area .md-button[aria-label="Sign out"] .layout-column span:nth-child(1) {
	font-weight: 600;
}
prm-user-area .md-button[aria-label="Sign out"] .layout-column span:nth-child(2) {
	text-transform: none;
}
prm-user-area-expandable {
  display: none;
}
prm-user-area {
  display: block !important;
}

/*End restore user menu changes*/

/*Report a problem*/
oca-report-problem .md-button.button-with-icon span {
    display: inline-block;
    margin-left: 3px;
    padding-right: .5em;
    white-space: normal;
    text-align: left;
	text-transform: none;
}

oca-report-problem .md-button {
    display: inline-flex;
    align-items: center;
    line-height: unset;
	color: #5c92bd;
}


/*Broadcast Dashboard messaging*/
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

/* Bootstrap Jumbotron Classing */
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  /*background-color: #eee;*/
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 600;
}
.jumbotron > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron,
.container-fluid .jumbotron {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
 /*   padding-top: 48px;
    padding-bottom: 48px;*/
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}

.alert-success p{
	 color: #3c763d;
}
.alert-warning p {
	color: #66512c;
}
.alert-danger p {
	color: #a94442; 
}

/* Custom classing */
.bd_p p:last-child {
    margin-bottom: 0px;
}