<div ng-if="$ctrl.tocAva()">
    <div class="item_toc">
        <a target="_blank" href="{{$ctrl.tocAva()}}" title="Open in a New Window">Table of Contents</a>
    </div>
</div>
<div ng-if="$ctrl.visible()">
    <div class="illiad-request">
        <a target="_blank" href="https://illiad-csusm-edu.ezproxy.csusm.edu/illiad/illiad.dll?Action=10&Form=30{{$ctrl.visible()}}">Get it through Interlibrary Loan (allow 7-12 days for delivery)</a>
    </div>
    <div class="google-search">
        <a target="_blank" href="https://www.google.com/search?q={{$ctrl.parentCtrl.item.pnx.search.title[0]}}">Try Google</a>
    </div>
    <div class="research-help">
        <a target="_blank" href="http://biblio.csusm.edu/research-assistance">Need Research Help?</a>
    </div>
</div>
<div ng-if="$ctrl.viewItVisible()">
    <div class="google-search">
        <a target="_blank" href="https://scholar.google.com/scholar?inst=9826951226383184939&as_q={{$ctrl.parentCtrl.item.pnx.search.title[0]}}">Try Google Scholar</a>
    </div>
    <div class="research-help">
        <a target="_blank" href="http://biblio.csusm.edu/research-assistance">Need Research Help?</a>
    </div>
</div>