/*** San Jose (01CALS_SJO) ***/

/* navbar color change */

.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-journals-search-bar {
    color: white;
    background-color: #fff;
}
.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1, prm-journals-search-bar.prm-hue1 {
    background-color: #fff;
}
.prm-primary-bg.prm-hue2, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue2, prm-journals-search-bar.prm-hue2, md-backdrop.md-opaque {
    background-color: #fff;
}
.prm-primary-bg.prm-hue3, prm-spinner.prm-hue3.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue3, prm-journals-search-bar.prm-hue3 {
    background-color: #fff;
}
.prm-primary-bg.prm-hue3-important, prm-spinner.prm-hue3-important.overlay-cover.light-on-dark:after, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background, prm-search-bar.prm-hue3-important, prm-journals-search-bar.prm-hue3-important {
    background-color: #fff !important;
}
.prm-primary-bg.prm-hue4, prm-spinner.prm-hue4.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue4, prm-journals-search-bar.prm-hue4 {
    background-color: #fff;
}

/* search bar color change */

.prm-primary-bg, prm-journals-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark:after {
    color: #333;
    background-color: #fff;
}

/* make logo clickable */

prm-logo div.product-logo {
    display:none;
}
prm-logo div.product-logo-local {
    display: flex;
}
prm-logo .product-logo a:hover {
    background-color:transparent;
    text-transform:none;
    box-shadow: none;
}
/*prm-logo .logo-image, prm-logo img {
	max-height: 100%;
	width: 350px;
}*/


/* light top background */

div.top-nav-bar, ._md-fab-toolbar-wrapper {
    border-bottom: 2px solid #eee;
}
div.top-nav-bar * {
    color: #035594 !important;
}

/* SJSU customization */

    .prm-full-view-dialog~.close-button {
        background-color: #5c92bd;
    }


    prm-alert-bar md-divider, button[aria-label="DISMISS"] {
        display: none;
    }

    .user-button-text span[class~='user-language'] {
        display: none;
    }

    prm-search-bar {
	background: #f2f2f2;
    }
    
    prm-page-nav-menu {
        display: none;
    }

    prm-full-view-service-container prm-search-result-availability-line {
        display: none;
    }

   /*prm-user-area {
	padding-top: 12px;
    }*/

   prm-personal-info.layout, prm-personal-info .layout-row {
    	box-sizing: border-box;
    	display: block;
   }

   .animate-form-inputs md-input-container {
   	width: 300px;
   }

   md-card md-checkbox {
	padding-right: 2em;
   }

   prm-alphabet-toolbar .md-button{
	color: black !important;
   }

  .full-view-inner-container .services-index-under {
       display: none;
  }

  @media only screen and (max-width: 500px) {
	.flex-55, .layout-row>.flex-55, .flex-45, .layout-row>.flex-45 {
          max-width: 100%;
    	}
  }

  prm-breadcrumbs .md-chips .md-chip-content .persistence-button {
	opacity: 1;
    	transform: none;
  }

  prm-breadcrumbs .md-chip.wrapping-chip .md-chip-content
  {
    	padding-left: 15px;
  }

  .filtered-facets-section prm-breadcrumbs h2::after {
     	content: " Click the lock to keep filters";
     	display: block;
    	margin: 5px 0 10px;
    	font-size: 14px;
    	font-weight: bold;
  }

  .text-highlight, mark { 
	box-shadow: inset 0 -0.3em 0 0 #ffe564
  }

  .s-lch-widget-float.open {
    top: initial !important;
    height: calc(100% - 49px) !important;
    max-height: 500px !important;
  }
  
