<!-- Local holdings -->

<div class="local-holdings" ng-if="localLocations.length > 0 && !isLinktoOnline && !showCompact">
    <h4>Available at the Library</h4>

    <!-- holdings have already loaded -->
    <div ng-if="holdings" class="animate-if" layout="column">

        <div class="csu-holdings-limiter">
            <div class="csu-holdings-container">
                <div class="csu-holdings-wrap">
                    <div class="csu-holdings">
                        <table>
                            <thead>
                                <tr>
                                    <th>Location</th>
                                    <th>Call Number</th>
                                    <th>Availability</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="holding in holdings">

                                <!-- items loaded and ready for display -->
                                <tr ng-if="holding.mms_id && holding.items.length <= 0" class="animate-if">
                                    <td colspan="4">
                                        <span class="items_unavailable" translate="item.noitems">
                                    </td>
                                </tr>
                                <tr ng-repeat="item in holding.items">
                                    <td class="location">{{ holding.location }}</td>
                                    <td class="callNumber">{{ holding.call_number }}</td>
                                    <td class="available">{{ item.status }}</td>
                                    <td class="description">{{ item.description }}</td>
                                </tr>

                                <!-- next two rows are temporary display until the items fully load
                                     otherwise the table flickers on reload -->
                                <tr ng-if="holding.mms_id && holding.items.length <= 0 && holdingsCount > 0" class="animate-if">
                                    <td class="location">{{ holding.location }}</td>
                                    <td class="callNumber">{{ holding.call_number | trim }}</td>
                                    <td class="status">
                                        <prm-spinner class="small default-loader dark-on-light" layout="row" layout-align="left center"></prm-spinner>
                                    </td>
                                    <td class="description">
                                        <prm-spinner class="small default-loader dark-on-light" layout="row" layout-align="left center"></prm-spinner>
                                    </td>
                                </tr>
                                <tr ng-if="holding.mms_id && !holding.items" class="animate-if">
                                    <td class="location">{{ holding.location }}</td>
                                    <td class="callNumber">{{ holding.call_number | trim }}</td>
                                    <td class="status">
                                        <prm-spinner class="small default-loader dark-on-light" layout="row" layout-align="left center"></prm-spinner>
                                    </td>
                                    <td class="description">
                                        <prm-spinner class="small default-loader dark-on-light" layout="row" layout-align="left center"></prm-spinner>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- temp: holdings over item display -->
    <div ng-repeat="holding in holdings">
        <p ng-if="holding.mms_id && !holding.items" ng-repeat="x in holding.numberItemsArray track by $index" class="animate-if" style="display:none;">
            <span class="location">{{ holding.location }}</span> - <span class="callNumber">{{ holding.call_number }}</span>
            <prm-spinner class="small default-loader dark-on-light" layout="row" layout-align="left center">
            </prm-spinner>
            <p ng-if="holding.mms_id && holding.ava_note != ''" (click)="$ctrl.toggleShowItems(holding)" class="animate-if">
                <span class="avaNote">{{ holding.ava_note }}</span>
            </p>
            <p ng-if="holding.mms_id && holding.ava_note == '' && holding.items.length <= 0 && holding.items[0].ava_note && holding.items[0].ava_note !=''" (click)="$ctrl.toggleShowItems(holding)" class="animate-if">
                <span class="avaNote">{{ holding.items[0].ava_note }}</span>
            </p>
            <p ng-if="holding.mms_id && holding.items.length > 1 && holding.showItems" ng-repeat="item in holding.items" class="animate-if">
                <span class="subLocation">{{ holding.location }}</span> - <span class="callNumber">{{ holding.call_number }}</span>
                <span class="items_available" ng-if="item.availability == 'available'">{{ item.status }}</span>
                <span class="items_unavailable" ng-if="item.availability == 'unavailable'">{{ item.status }}</span>
                <span class="callNumber" ng-if="item.description != ''"> ({{ item.description }})</span>
            </p>
        </p>
    </div>

    <!-- temporary display until data fetched  -->
    <div ng-if="preholdings && !holdings" class="animate-if" layout="column">
        <div class="csu-holdings-limiter">
            <div class="csu-holdings-container">
                <div class="csu-holdings-wrap">
                    <div class="csu-holdings">
                        <table>
                            <thead>
                                <tr>
                                    <th>Location</th>
                                    <th>Call Number</th>
                                    <th>Availability</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="holding in preholdings">
                                    <td class="location">{{ holding.subLocation }}</td>
                                    <td class="callNumber">{{ holding.callNumber | trim }}</td>
                                    <td class="status">
                                        <prm-spinner class="small default-loader dark-on-light" layout="row" layout-align="left center"></prm-spinner>
                                    </td>
                                    <td class="description">
                                        <prm-spinner class="small default-loader dark-on-light" layout="row" layout-align="left center"></prm-spinner>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <prm-spinner ng-if="!preholdings && !holdings" class="default-loader dark-on-light" layout="row" layout-align="center center">
    </prm-spinner>
</div>

<!-- Other campuses -->

<div class="extHoldings" ng-if="extLocations.length > 0 && !isLinktoOnline">
    <h4 (click)="$ctrl.toggleShowExtHoldings()">
        <span translate="nui.brief.results.tabs.getit_other">
        </span>
        <span ng-if="!showExtHoldings" class="showItemsDown">V</span>
        <span ng-if="showExtHoldings" class="showItemsUp">^</span>
    </h4>
    <div ng-if="extLocations && showExtHoldings" class="animate-if" ng-repeat="campus in extLocations" layout="column">
        <p ng-if="campus.organization" (click)="$ctrl.toggleShowItems(campus)">
            <span class="location" translate="{{campus.organization}}">{{campus.organization}}</span>
            <span ng-if="!campus.showItems" class="showItemsDown">V</span>
            <span ng-if="campus.showItems" class="showItemsUp">^</span>
        </p>
        <p ng-if="campus.showItems" ng-repeat="location in campus.locations">
            <span class="subLocation">{{ location.subLocation }}</span> - <span class="callNumber">{{ location.callNumber }}</span>
            <span class="items_available" ng-if="location.availabilityStatus == 'available'">({{ location.availabilityStatus }})</span>
            <span class="items_unavailable" ng-if="location.availabilityStatus != 'available'">({{ location.availabilityStatus }})</span>
        </p>
    </div>
</div>

<!-- Online link -->

<div ng-if="isLinktoOnline">
    <iframe iframe-onload="{{::$ctrl.parentCtrl.iframeResize()}}" class="mashup-iframe" ng-src="{{$ctrl.parentCtrl.getLink()}}" style="width:100%;border:none;" ng-if="::$ctrl.parentCtrl.isLinkAvailable()"/>
    <prm-alma-mashup-after parent-ctrl="$ctrl.parentCtrl">
    </prm-alma-mashup-after>
</div>
