
<!-- Request options -->

<div ng-if="doShowButton()" class="csu-request-options">

	<!-- Success / Fail Message -->

	<div ng-if="requestDataReceived && !requestMessageCleared">
		<md-button ng-if="requestSuccessful" ng-click="$ctrl.hideRequestMessage()" aria-label="Request succesfully placed -- Click to dismiss" class="button-with-icon zero-margin">
			<span class="items-available">Request succesfully placed -- Click to dismiss</span>
			<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="close" class="items-available"></prm-icon>
		</md-button>

		<md-button ng-if="!requestSuccessful" ng-click="$ctrl.hideRequestMessage()" aria-label="Request was unable to be placed -- Click to dismiss" class="button-with-icon zero-margin">
			<span ng-if="requestError" class="items-unavailable">{{ requestError }} -- Click to dismiss</span>
			<span ng-if="!requestError" class="items-unavailable">Request was unable to be placed -- Click to dismiss</span>
			<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="close" class="items-unavailable"></prm-icon>
		</md-button>
	</div>

	<!-- Resource sharing -->

	<div ng-if="hasResourceSharing() && !hasILL()" class="csu-resource-sharing-request">

		<!-- login/request -->
		<div ng-if="!userIsLoggedIn">
			<md-button ng-click="$ctrl.loginService.handleLoginClick()" aria-label="Sign in to request from CSU+ (2-5 day delivery)" class="button-with-icon zero-margin">
				<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="sign-in"></prm-icon>
				<span>Sign in to request from CSU+ (2-5 day delivery)</span>
			</md-button>
		</div>

		<!-- csu+ option -->
		<div ng-if="userIsLoggedIn">
			<md-button ng-click="$ctrl.handleRequestForm('ill')" ng-disabled="requestSent || requestSuccessful" aria-label="Request from CSU+ (2-5 day delivery)" class="button-with-icon zero-margin">
				<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="book-open"></prm-icon>
				<span>Request from CSU+ (2-5 day delivery)</span>
			</md-button>
		</div>
	</div>

	<!-- Interlibrary Loan -->

	<div ng-if="hasILL() && !hasResourceSharing()">

		<!-- login/request -->
		<div ng-if="!userIsLoggedIn">
			<md-button ng-click="$ctrl.loginService.handleLoginClick();" aria-label="Sign in to request from Interlibrary Loan (7-10 day delivery)" class="md-raised md-button csu-options-button">
				<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="sign-in"></prm-icon>
				<span>Sign in to request from Interlibrary Loan (7-10 day delivery)</span>
			</md-button>
		</div>

		<!-- ill option -->
		<div ng-if="userIsLoggedIn">
			<md-button ng-click="$ctrl.openILL()" ng-disabled="requestSent || requestSuccessful" aria-label="Request from Interlibrary Loan (7-10 day delivery)" class="md-raised md-button csu-options-button">
				<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="book-open"></prm-icon>
				<span>Request from Interlibrary Loan (7-10 day delivery)</span>
			</md-button>
		</div>
	</div>

	<!-- Local Request -->

	<div ng-if="hasLocal()">

		<!-- login/request -->
		<div ng-if="!userIsLoggedIn">
			<md-button ng-click="$ctrl.loginService.handleLoginClick()" aria-label="Sign in to see request options" class="md-raised md-button csu-options-button">
				<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="sign-in"></prm-icon>
				<span>Sign in to see additional options</span>
			</md-button>
		</div>

		<!-- local request options -->
		<div ng-if="userIsLoggedIn && requestOptions.local">
			<md-button ng-click="$ctrl.handleRequestForm('local')" ng-disabled="requestSent || requestSuccessful" aria-label="Request this item" class="button-with-icon zero-margin">
				<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="book-open"></prm-icon>
				<span>Request this item</span>
			</md-button>
		</div>

		<div ng-if="userIsLoggedIn && requestOptions.local_diff">
			<md-button ng-click="$ctrl.handleRequestForm('local_diff')" ng-disabled="requestSent || requestSuccessful" aria-label="Request a different issue" class="button-with-icon zero-margin">
				<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="book-open"></prm-icon>
				<span>Request a different issue</span>
			</md-button>
		</div>
	</div>

	<!-- ViewIt Only -->

	<div ng-if="isViewItOnly()">

		<!-- login/request -->
		<div ng-if="!userIsLoggedIn">
			<md-button ng-click="$ctrl.loginService.handleLoginClick();" aria-label="Sign in to see additional options" class="md-raised md-button csu-options-button">
				<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="sign-in"></prm-icon>
				<span>Sign in to see additional options</span>
			</md-button>
		</div>

		<!-- ill option -->
		<div ng-if="userIsLoggedIn && showRequestInViewIt">
			<md-button ng-click="$ctrl.openILL()" ng-disabled="requestSent || requestSuccessful" aria-label="Request from Interlibrary Loan (7-10 day delivery)" class="md-raised md-button csu-options-button">
				<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="book-open"></prm-icon>
				<span>Request from Interlibrary Loan (7-10 day delivery)</span>
			</md-button>
		</div>
	</div>

	<!-- Request Form -->

	<div ng-if="showRequestForm" class="uresolver-form-wrapper-outer" layout="row">
		<md-content layout-wrap layout-padding layout-fill>
			<form name="asdf" novalidate layout="column" layout-align="center center" ng-submit="$ctrl.sendRequest();">
				<div layout="row" class="uresolver-form-wrapper-inner" layout-align="center center">
					<div class="form-focus service-form" layout-padding flex>
						<div layout-margin>
							<div class="uresolver-form-wrapper-inputs" layout="column">
								<md-input-container class="underlined-input md-required" ng-repeat="requestElement in requestElements" ng-if="requestElement.options.length === 0 && requestElement.mandatory === 'true'">
									<label>{{requestElement.label}}</label>
									<input ng-model="requestElement.value" name="requestElement.name" type="text" required>
								</md-input-container>
								<md-input-container class="underlined-input" ng-repeat="requestElement in requestElements" ng-if="requestElement.options.length === 0 && requestElement.mandatory !== 'true' && showOptionalRequestElements">
									<label>{{requestElement.label}}</label>
									<input ng-model="requestElement.value" name="requestElement.name" type="text">
								</md-input-container>
								
								<md-input-container class="underlined-input md-required" ng-repeat="requestElement in requestElements" ng-if="requestElement.options.length > 0 && requestElement.mandatory === 'true'">
									<label>{{requestElement.label}}</label>
									<md-select ng-model="requestElement.value" name="requestElement.name" required>
										<md-option ng-repeat="option in requestElement.options" ng-value="option.value" ng-selected="requestElement.value == option.value">{{option.label}}</md-option>
									</md-select>
								</md-input-container>
								<md-input-container class="underlined-input" ng-repeat="requestElement in requestElements" ng-if="requestElement.options.length > 0 && requestElement.mandatory !== 'true' && showOptionalRequestElements">
									<label>{{requestElement.label}}</label>
									<md-select ng-model="requestElement.value" name="requestElement.name">
										<md-option ng-repeat="option in requestElement.options" ng-value="option.value" ng-selected="requestElement.value == option.value">{{option.label}}</md-option>
									</md-select>
								</md-input-container>
							</div>
						</div>
					</div>
				</div>
				<div layout="row">
					<div layout="row" layout-align="center" layout-fill>
						<md-button type="submit" class="button-with-icon button-large prm-warn" ng-click="$ctrl.closeRequestForm()" aria-label="Close">
							<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="close"></prm-icon>
							<span>Close</span>
						</md-button>

						<md-button type="submit" class="button-with-icon button-large button-confirm" aria-label="Submit Request">
							<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="send"></prm-icon>
							<span>Submit Request</span>
						</md-button>
					</div>
				</div>
			</form>
		</md-content>
	</div>
</div>

<!-- Availability Sections -->

<!-- No availability -->

<div ng-if="hasNoHoldings()" class="online-holdings">
	<iframe iframe-onload="{{::$ctrl.parentCtrl.iframeResize()}}" class="mashup-iframe" ng-src="{{$ctrl.parentCtrl.getLink()}}" style="width:100%;border:none;" ng-if="::$ctrl.parentCtrl.isLinkAvailable()"></iframe>
</div>

<!-- Online availability -->

<div ng-if="isLinktoOnline" class="online-holdings">
	<h4 class="csu-holdings-header">Available online</h4>
	<iframe iframe-onload="{{::$ctrl.parentCtrl.iframeResize()}}" class="mashup-iframe" ng-src="{{$ctrl.parentCtrl.getLink()}}" style="width:100%;border:none;" ng-if="::$ctrl.parentCtrl.isLinkAvailable()"></iframe>
</div>

<!-- Physical availability -->

<div ng-if="!isLinktoOnline" class="local-holdings">

	<!-- Local holdings -->

	<div class="local-holdings" ng-if="hasLocal()">
		<h4 class="csu-holdings-header">Available at the Library</h4>

		<!-- holdings have already loaded -->
		<div ng-if="holdings" class="animate-if" layout="column">

			<div class="csu-holdings-limiter">
				<div class="csu-holdings-container">
					<div class="csu-holdings-wrap">
						<div class="csu-holdings">
							<table>
								<thead>
									<tr class="prm-primary-bg prm-hue1">
										<th>Location</th>
										<th>Call Number</th>
										<th>Availability</th>
										<th colspan="2">Notes</th>
									</tr>
								</thead>
								<tbody ng-repeat="holding in holdings" ng-if="holding.mms_id">

									<!-- items loaded and ready for display -->

									<tr tabindex="0" ng-if="holding.mms_id && holding.items.length <= 0" class="animate-if">
										<td colspan="5">
											<span class="items-unavailable" translate="item.noitems">
										</td>
									</tr>

									<!-- collapsed display -->

									<tr tabindex="0" class="holding-header" ng-click="$ctrl.toggleShowItems(holding)" ng-keydown="$ctrl.toggleShowItems(holding, $event)" ng-if="showCompact == true">
										<td class="locate" hide-gt-sm ng-if="showLocateButton">
											<md-button ng-click="$ctrl.openLocate(holding);$event.stopPropagation();" ng-keydown="$ctrl.openLocate(holding, $event);$event.stopPropagation();" aria-label="Locate" class="button-with-icon zero-margin">
												<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="open-in-new"></prm-icon>
												<span>Locate</span>
											</md-button>
										</td>
										<td class="location"><prm-icon ng-if="!holding.showItems" icon-type="svg" svg-icon-set="primo-ui" icon-definition="chevron-down"></prm-icon><prm-icon ng-if="holding.showItems" icon-type="svg" svg-icon-set="primo-ui" icon-definition="chevron-up"></prm-icon> {{ holding.location }}</td>
										<td class="callNumber">{{ holding.call_number }}</td>
										<td class="availability">
											<span class="items-available" ng-if="holding.availability == 'available'">
												{{ holding.available_items }} of {{ holding.total_items }} available
											</span>
											<span class="items-unavailable" ng-if="holding.availability == 'unavailable'">
												{{ holding.available_items }} of {{ holding.total_items }} available
											</span>
										</td>
										<td class="description" ng-if="holding.ava_note">{{ holding.ava_note }}</td>
										<td class="description hide-xs hide-sm" ng-if="!holding.ava_note"></td>
										<td class="locate" hide-xs hide-sm ng-if="showLocateButton">
											<md-button ng-click="$ctrl.openLocate(holding);$event.stopPropagation();" ng-keydown="$ctrl.openLocate(holding, $event);$event.stopPropagation();" aria-label="Locate" class="button-with-icon zero-margin">
												<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="open-in-new"></prm-icon>
												<span>Locate</span>
											</md-button>
										</td>
									</tr>

									<!-- individual item display -->

									<tr tabindex="0" class="holding-item" ng-repeat-start="item in holding.items track by $index" ng-if="holding.showItems || !showCompact">
										<td class="sublocation">{{ holding.location }}</td>
										<td class="callNumber">{{ item.call_number }}</td>
										<td class="availability">
											<span class="items-available" ng-if="item.availability == 'available'">
												{{ item.status }}
											</span>
											<span class="items-unavailable" ng-if="item.availability == 'unavailable'">
												{{ item.status }}
											</span>
										</td>
										<td class="description" ng-if="item.description && !requestLocalItem && !showLocateButton" colspan="2">{{ item.description }}</td>
										<td class="description" ng-if="item.description && !requestLocalItem && showLocateButton" colspan="1">{{ item.description }}</td>
										<td class="description hideme" ng-if="!item.description && !requestLocalItem && !showLocateButton" colspan="2"></td>
										<td class="description hideme" ng-if="!item.description && !requestLocalItem && showLocateButton" colspan="1"></td>
										<td class="description" ng-if="item.description && requestLocalItem" colspan="1">{{ item.description }}</td>
										<td class="description hideme" ng-if="!item.description && requestLocalItem" colspan="1"></td>
										<td class="request" ng-if="(item.description && requestLocalItem) || showLocateButton" colspan="1">
											<md-button ng-if="item.description && requestLocalItem" ng-click="$ctrl.handleRequestForm('item', item)" ng-disabled="item.requestSent || item.requestSuccessful" aria-label="Request" class="button-with-icon zero-margin">
												<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="book-open"></prm-icon>
												<span>Request</span>
											</md-button>
											<md-button ng-if="showLocateButton" ng-click="$ctrl.openLocate(holding);$event.stopPropagation();" ng-keydown="$ctrl.openLocate(holding, $event);$event.stopPropagation();" aria-label="Locate" class="button-with-icon zero-margin">
												<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="open-in-new"></prm-icon>
												<span>Locate</span>
											</md-button>
										</td>
									</tr>

									<!-- Success / Fail Message -->

									<tr tabindex="0" class="holding-item" ng-repeat-end ng-if="(holding.showItems || !showCompact) && item.requestDataReceived && !item.requestMessageCleared">
										<td class="request-message" colspan="5" ng-if="item.requestSuccessful" ng-click="$ctrl.hideRequestMessage(item)" aria-label="">
												<span class="items-available" aria-label="Request succesfully placed -- Click to dismiss">Request succesfully placed -- Click to dismiss</span>
												<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="close" class="items-available"></prm-icon>
										</td>

										<td class="request-message" colspan="5" ng-if="!item.requestSuccessful" ng-click="$ctrl.hideRequestMessage(item)" aria-label="">
												<span ng-if="item.requestError" class="items-unavailable" aria-label="{{ item.requestError }} -- Click to dismiss">{{ item.requestError }} -- Click to dismiss</span>
												<span ng-if="!item.requestError" class="items-unavailable" aria-label="Request was unable to be placed -- Click to dismiss">Request was unable to be placed -- Click to dismiss</span>
												<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="close" class="items-unavailable"></prm-icon>
										</td>
									</tr>

									<!-- next two rows provide temporary display until the items fully load,
										 otherwise the table flickers on reload -->

									<tr tabindex="0" class="holding-item" ng-if="holding.mms_id && holding.items.length <= 0 && holdingsCount > 0 && (holding.showItems || !showCompact)" class="animate-if">
										<td class="location">{{ holding.location }}</td>
										<td class="callNumber">{{ holding.call_number }}</td>
										<td class="availability">
											<prm-spinner class="small default-loader dark-on-light" layout="row" layout-align="left center"></prm-spinner>
										</td>
										<td class="description" colspan="2">
											<prm-spinner class="small default-loader dark-on-light" layout="row" layout-align="left center"></prm-spinner>
										</td>
									</tr>
									<tr tabindex="0" class="holding-item" ng-if="holding.mms_id && !holding.items && (holding.showItems || !showCompact)" class="animate-if">
										<td class="location">{{ holding.location }}</td>
										<td class="callNumber">{{ holding.call_number }}</td>
										<td class="availability">
											<prm-spinner class="small default-loader dark-on-light" layout="row" layout-align="left center"></prm-spinner>
										</td>
										<td class="description" colspan="2">
											<prm-spinner class="small default-loader dark-on-light" layout="row" layout-align="left center"></prm-spinner>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- temporary display until data fetched  -->

		<div ng-if="preholdings && !holdings" class="animate-if" layout="column">
			<div class="csu-holdings-limiter">
				<div class="csu-holdings-container">
					<div class="csu-holdings-wrap">
						<div class="csu-holdings">
							<table>
								<thead>
									<tr class="prm-primary-bg prm-hue1">
										<th>Location</th>
										<th>Call Number</th>
										<th>Availability</th>
										<th>Notes</th>
									</tr>
								</thead>
								<tbody ng-repeat="holding in preholdings">
									<tr tabindex="0" class="holding-header">
										<td class="location">{{ holding.subLocation }}</td>
										<td class="callNumber">{{ holding.callNumber }}</td>
										<td class="availability">
											<prm-spinner class="small default-loader dark-on-light" layout="row" layout-align="left center"></prm-spinner>
										</td>
										<td class="description hideme"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Other campuses -->

	<div class="consortia-holdings" ng-if="consortiaHoldings.length > 0">
		<h4 class="csu-holdings-header">Available at other campuses</h4>
		<div>
			<md-button class="md-raised" ng-click="$ctrl.toggleShowExtHoldings()">
				{{ showExtHoldings ? 'Hide holdings &laquo;' : 'Show holdings &raquo;' }}
			</md-button>
		</div>
		<div class="csu-holdings-limiter" ng-if="consortiaHoldings && showExtHoldings">
			<div class="csu-holdings-container">
				<div class="csu-holdings-wrap">
					<div class="csu-holdings">
						<table>
							<thead>
								<tr class="prm-primary-bg prm-hue1">
									<th>Campus</th>
									<th>Location</th>
									<th>Call Number</th>
									<th>Availability</th>
								</tr>
							</thead>
							<tbody>
								<tr tabindex="0" class="holding-header" ng-repeat="location in consortiaHoldings">
									<td class="campus">{{ location.campus }}</td>
									<td class="location">{{ location.subLocation }}</td>
									<td class="callNumber">{{ location.callNumber }}</td>
									<td class="availability">
										<div class="items-available" ng-if="location.availabilityStatus == 'available'">
											{{ location.availabilityStatus }}
										</div>
										<div class="items-unavailable" ng-if="location.availabilityStatus != 'available'">
											{{ location.availabilityStatus }}
										</div>
										<div class="items-unavailable" ng-if="location.localOnly">
											on campus only
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
