

/*Uncomment the follwoing lines to move facets to the left*/

/*
prm-search > md-content.md-primoExplore-theme .main {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;

}
.screen-gt-sm .sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}

*/

/*CSS to Make Logo Clickable */

prm-logo div.product-logo {display:none;}
prm-logo div.product-logo-local {display: flex;}

prm-logo .logo-image, prm-logo img {
	max-height: 80%;
	min-width: 110px;
}

/*---------------------Text Styles--------------------*/

/*Links*/
a, .md-button.arrow-link-button .button-content {
  color: #330033;
}

/*Advanced Text Labels */
.prm-text, a.a-tag-as-wrapper, .md-button.arrow-link-button .a-tag-as-wrapper.button-content, a.a-tag-as-wrapper:hover, .recommendations-title:hover > span > span.a-tag-as-wrapper, .recommendations-title.hover > span > span.a-tag-as-wrapper, a.a-tag-as-wrapper:focus, .hack-a-tag-unclickable a, .hack-a-tag-unclickable .md-button.arrow-link-button .button-content, .md-button.arrow-link-button .hack-a-tag-unclickable .button-content, prm-search-bar, md-input-container.static-select.md-input-has-value label,
md-input-container.static-select.md-input-has-value label:not(.md-no-float), .presentable-disabled-inputs md-input-container label, md-toolbar.transparent-toolbar,
md-toolbar.md-primoExplore-theme.transparent-toolbar,
md-toolbar.transparent-toolbar:not(.md-menu-toolbar), md-toolbar.default-toolbar,
md-toolbar.md-primoExplore-theme.default-toolbar,
md-toolbar.default-toolbar:not(.md-menu-toolbar) {
  color: #330033; }

/*--------Top Banner ---------------*/

/*Top Banner Background Color */

.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1 {background-color: #fed65d; }

/*-----User Area -------*/

  /*UserName Guest */

prm-user-area .user-name {
    text-transform: none;
    font-weight: 600;
    color: #fff;
    text-align: left;
    max-width: 80px;
}



/*Background for Guest Button And Icon */
.prm-primary-bg.prm-hue2, prm-main-menu[menu-type=full] md-backdrop, prm-search-bookmark-filter .md-button, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-user-area, prm-user-area md-fab-trigger>.md-button .md-fab-toolbar-background {
    background-color: #fed65d;
}
/*Background for Guest Button And Icon */
.prm-primary-bg.prm-hue2, prm-main-menu[menu-type=full] md-backdrop, prm-search-bookmark-filter .md-button, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-user-area, prm-user-area md-fab-trigger>.md-button .md-fab-toolbar-background {
    background-color: #fed65d;
}


  /*Hover */

  /*NAV BAR REGULAR Button Hover */
  prm-topbar .md-button:focus, prm-topbar .md-button:hover {
      color: #fed65d !important;
      background-color: #fff !important;
      box-shadow: none;
  }


  prm-user-area .user-menu-button .user-name {
      text-transform: none;
      font-weight: 600;
      color: #fff;
      text-align: left;
      max-width: 150px;
  }

/*!!!!!!!  TOPBAR - USER AREA - HOVER COLOR !!!!!!!!*/
  md-fab-toolbar md-toolbar {
      background-color: #fed65d !important;
      pointer-events: none;
      z-index: 23;
  }
/*Top Bar - User Area - Button Link Color - On Hover */

/*Language Button Hover */

prm-topbar .md-button {
  color: #fff !important;
  text-transform: none;
  height: 100%;
  border-radius: 0;
  margin: 0;
}


prm-user-area md-fab-toolbar .md-fab-action-item md-input-container md-select, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container .md-input-container-dummy > .md-select-dummy, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container md-select, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container .md-input-container-dummy > .md-select-dummy {
    color: #fff;
    height: 100%;
}

/*User Area - Hover - Button Color - My Library Card */

prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-primoExplore-theme:not([disabled]) {
    color: #fff;
}

prm-user-area md-fab-toolbar .md-fab-action-item .md-button.md-primoExplore-theme:not([disabled]) {
      color: #fff;
  }
/*User Area - Hover - Button on Hover Color - My Library Card*/

prm-user-area md-fab-toolbar .md-fab-action-item .md-button.md-primoExplore-theme:not([disabled]):focus, prm-user-area md-fab-toolbar .md-fab-action-item .md-button.md-primoExplore-theme:not([disabled]):hover, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-primoExplore-theme:not([disabled]):focus, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-primoExplore-theme:not([disabled]):hover {
    background-color: #fed65d;
    color: #fff;
    box-shadow: none!important;
}

/*--------Search Changes Color Changes-----------*/

/*Search Options Background */
  prm-search-bar .prm-top-bar-container .search-element .search-options {background-color:#5e001d;}

/*Search Options Hover Background */
  prm-search-bar .prm-top-bar-container .search-element .search-options:hover {
      background-color: #fff;
      color: #fed65d !important;
  }
/*Search Bar Container */
  md-toolbar.dark-toolbar, md-toolbar.md-primoExplore-theme.dark-toolbar, md-toolbar:not(.md-menu-toolbar).dark-toolbar {
      background-color: #fed65d;
      color: #fff;
      border-top: 1px solid #fed65d;
  }

/*Search Bar Wrapper */
  .prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar {
  color: #fed65d;background-color:#fff; }


  .md-button.button-confirm {
      color: #330033;
  }

/*Magnify Icon */
  .md-button:hover:not([disabled]), .md-button:focus:not([disabled]), .md-button.hove#330033:not([disabled]), .md-button.md-focused:not([disabled]), .md-button._md-focused:not([disabled]) {
      color: #330033;
      background-color: #fff);
  }

/*Magnify Icon - Hover */
  .md-button.button-confirm:hover:not([disabled]), .md-button.button-confirm:focus:not([disabled]), .md-button.button-confirm.hovered:not([disabled]), .md-button.button-confirm.md-focused:not([disabled]), .md-button.button-confirm._md-focused:not([disabled]) {
      color: #fff;
      background-color: #fed65d;
  }
/*Search Bar */
  prm-search-bar .prm-top-bar-container .search-element .search-input-container {
      font-size: 1.6em;
      background-color: #fff;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 2 0 auto;
      -ms-flex: 2 0 auto;
      flex: 2 0 auto;
      position: relative;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      height: auto;
      color: #330033;
  }

  prm-search-bar .prm-top-bar-container .search-element .search-input-container md-autocomplete-wrap input+button {
      color: #330033;
  }


/*Search Bar Color on Hover | Active */
    prm-search-bar .prm-top-bar-container .search-element .search-input-container md-autocomplete-wrap input:hover {
      background-color: #fff;
      color: tomato;
  }

/*Advanced Search Bar */

prm-search-bar .advanced-search-backdrop {
    background-color: #fff;

}


/*---------Advanced Search Link ------------*/
prm-search-bar .search-switch-buttons .md-button.switch-to-advanced {
    color: #330033;
}

/*advanced text labels */
.prm-text, a.a-tag-as-wrapper, .md-button.arrow-link-button .a-tag-as-wrapper.button-content, a.a-tag-as-wrapper:hover, .recommendations-title:hover > span > span.a-tag-as-wrapper, .recommendations-title.hover > span > span.a-tag-as-wrapper, a.a-tag-as-wrapper:focus, .hack-a-tag-unclickable a, .hack-a-tag-unclickable .md-button.arrow-link-button .button-content, .md-button.arrow-link-button .hack-a-tag-unclickable .button-content, prm-search-bar, md-input-container.static-select.md-input-has-value label,
md-input-container.static-select.md-input-has-value label:not(.md-no-float), .presentable-disabled-inputs md-input-container label, md-toolbar.transparent-toolbar,
md-toolbar.md-primoExplore-theme.transparent-toolbar,
md-toolbar.transparent-toolbar:not(.md-menu-toolbar), md-toolbar.default-toolbar,
md-toolbar.md-primoExplore-theme.default-toolbar,
md-toolbar.default-toolbar:not(.md-menu-toolbar) {
  color: #330033; }

/*----------------------Detailed Item -----------------------*/

/*Detailed Items - List View - Background Color */

      .prm-background.prm-hue2, html.prm-hue2, body.prm-hue2, .line-clamp-1:after, .line-clamp-2:after, .line-clamp-3:after, .line-clamp-4:after, .line-clamp-5:after, prm-search-result-list .results-title,
      prm-search-result-list .results-footer, prm-search-result-list md-list-item, prm-search-bar .simple-search-wrapper .prm-hue2.search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue2, .prm-full-view-dialog, .full-view-inner-container, .__xs prm-facet.prm-hue2,.__sm prm-facet.prm-hue2, .__sm .prm-hue2.sidebar,
      .__xs .prm-hue2.sidebar, .__xs prm-full-view-cont .recommendations-wrapper,
      .__sm prm-full-view-cont .recommendations-wrapper, prm-recomendation-item .media-on-hover .pin-button, prm-recomendation-item .media-on-hover .pin-button:hover, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue2.pin-button, .recommendations-title:after, prm-full-view-cont .prm-hue2.recommendations-title:after, .__xs prm-full-view-cont .recommendations-title:after,
      .__sm prm-full-view-cont .recommendations-title:after, .recommendations-title prm-icon, prm-full-view-cont .recommendations-title prm-icon.prm-hue2, .__xs prm-full-view-cont .recommendations-title prm-icon,
      .__sm prm-full-view-cont .recommendations-title prm-icon, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue2, md-grid-tile,
      .tiles-grid-tile, md-grid-tile md-list prm-spinner.overlay-cover:after,
      md-grid-tile .tile-content prm-spinner.overlay-cover:after,
      .tiles-grid-tile md-list prm-spinner.overlay-cover:after,
      .tiles-grid-tile .tile-content prm-spinner.overlay-cover:after, md-card.default-card, md-card .prm-hue2.card-content-block {
        background-color: #f1f1f1; }

      .full-view-container {background-color: #fff;}

/*Details Tab Link and Icon Color */
      prm-brief-result .item-title {
          font-size: 1.18em;
          line-height: 1.2em;
          color: #5C92BD;
          max-width: 75%;
          margin: 7px 0;
          margin: 0;
          font-weight: 600;
          cursor: pointer;
      }

      .prm-highlight.prm-hue1, prm-brief-result-container.item-bookmarked, prm-brief-result-container.item-bookmarked:hover {
        background-color: #FFFC44; }



/*Details Tab Link and Icon Color */

.prm-primary-color, .result-item-actions .custom-button, .result-item-actions .more-options-button, .md-autocomplete-suggestions .suggestion-scope, md-tab-content .tab-content-header md-input-container md-select-value .md-text {
    color: #330033; }


.prm-primary-bg.prm-hue2, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue2 {
  background-color: #F3F2E9; }

/*Detailed Item - Hover Color - Left Panel */
    .prm-primary-bg.prm-hue3, prm-spinner.prm-hue3.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue3, md-backdrop.md-opaque {
      background-color: #cccccc; }

/*Detailed Item - Hover Color - Left Panel - Opacity */
    md-backdrop.md-opaque {opacity: .75;}

    .prm-primary-border {border-color: #330033; }
    .prm-primary-border.prm-hue1 {border-color: #330033; }
    .prm-primary-border.prm-hue2 {border-color: #330033; }


/*Bookmarks | My Favorites Icon Area TOP BAR */
  .prm-secondary-color, prm-search-bookmark-filter .md-button, prm-topbar .top-nav-bar {
    color: black; }


/*Bookmarks | My Favorites Icon Area Detailed Item Area */
    .prm-secondary-color.prm-hue1, .result-item-actions .custom-button.pin-button, prm-search-bookmark-filter .prm-hue1.md-button, prm-topbar .prm-hue1.top-nav-bar, prm-recomendation-item .media-on-hover .pin-button {
      color: #888; }


/*Border Area Between Detailed Results and Search Bar - Includes Back to Results Link */
      .prm-background.prm-hue1, html.prm-hue1, body.prm-hue1, prm-search-bar .simple-search-wrapper .prm-hue1.search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue1, .full-view-inner-container + .full-view-aside:before, .__xs prm-facet.prm-hue1,
          .__sm prm-facet.prm-hue1, .__sm .prm-hue1.sidebar,
          .__xs .prm-hue1.sidebar, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue1.pin-button, prm-full-view-cont .prm-hue1.recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon.prm-hue1, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue1, .default-tabs[md-border-bottom] > md-tabs-wrapper, md-card .prm-hue1.card-content-block, md-card .card-divider, md-toolbar.default-toolbar,md-toolbar.md-primoExplore-theme.default-toolbar,md-toolbar.default-toolbar:not(.md-menu-toolbar) {
            background-color:#fff;
            border-color: black; }


/*Lower Body Background Color */
  .prm-background, html, body, prm-search-bar .simple-search-wrapper .search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider, .__xs prm-facet,
  .__sm prm-facet, .__sm .sidebar,
  .__xs .sidebar, prm-full-view-cont prm-recomendation-item .media-on-hover .pin-button, prm-full-view-cont .recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider, md-card .card-content-block {background-color: #fff;border-color: #e1e1e1; }

/*-------------------------Facets-----------------------------*/

/*Facets Link Color */

.section-title prm-icon {
    color: #330033;
}

.link-alt-color, .md-button.button-as-link.link-alt-color, .section-title prm-icon {
    color: #330033;
}
/*------------------------------------------------------------------*/

/*Highlight - Alert Color */
  .prm-highlight {
    background-color: #FFFCC4; }

	prm-main-menu[menu-type=menu] .md-button {

    font-size: 1em;
}
/*new stuff*/
prm-icon {
    color: #330033;
}
#select_value_label_1 > span:nth-child(1) > div > span > font > font > font > font{
	color:#330033;
}

prm-user-area .user-menu-button .user-language {
    color: #330033;
}

.item-content{
	color:#330033;
}

prm-authentication.layout-row > button:nth-child(1) > span:nth-child(2){
	color:#330033;
}


#select_value_label_1 > span:nth-child(1) > div:nth-child(1) > span:nth-child(1){
	color:#330033;
}

div.md-fab-action-item:nth-child(3) > prm-library-card-menu:nth-child(1) > button:nth-child(1) > span:nth-child(2){
	color:#330033;
}

span.user-name{
 color:#330033 !important;
 }

._md-select-value ._md-select-icon {

    color: #330033;

}

body > primo-explore > div.md-dialog-container > div > button{
background-color: #ede49e;
}

.close-button:hover{
background-color: #b7b47b !important;

}

md-icon svg {

    color: #330033 !important;

}


.buttons-group .md-button:nth-child(2) {
    box-shadow: 1px 0 0 0 rgba(0,0,0,.1), -1px 0 0 0 rgba(0,0,0,.1);
}

prm-topbar .md-button {
    color: #330033 !important;

  }

/* Rearranging of the entire page.*/

div#getit_link1_0 { order: 0;}

div#getit_link2_0 { order: 1;}

div#action_list{ order: 2;}

div#details { order: 3; }

div#links { order: 4; }

div#virtualBrowse { order: 5; }

[aria-label="Online Access"] { order: 0 !important; }

[aria-label="In the library"] { order: 1 !important; }

[aria-label="Send to"] { order: 2 !important; }

[aria-label="Details"] { order: 3 !important; }

[aria-label="Links"] { order: 4 !important; }

[aria-label="Virtual Browse"] { order: 5 !important; }


.full-view-inner-container {
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
}

.full-view-section{
	margin-top: 0em;
}


[name="Citation"] { order: 2; }
[name="Print"] { order: 1; }
[name="E-mail"] { order: 0; }
[name="Permalink"] { order: 3; }
[name="EndNote"] { order: 4; }
[name="RISPushTo"] { order: 5; display:none;}
[name="EasyBib"] { order: 6; }
[name="SMS"] { order: 7; display:none; }
[name="RefWorks"] { order: 8; }
[name="Delicious"] { order: 9; }
[name="e-shelf"] { order: 10; }
[name="BibTeXPushTo"] { order: 11; display:none; }

/********************************************************************************************************/
/* begin normal dropdown navigation */
	div#contentspacing ul li:first-child, div#contentspacing ul li {
		padding-left: 0px !important;
		margin-left: 0px !important;
		margin-bottom: 0px !important;
		margin-top: 0px !important;
	}
	#nav ul ul {
		display: none;
	}
	#nav ul li:hover > ul {
		display: block;
	}
	#nav ul {
		background: #f1f1f1;
		padding-left: 10px !important;
		list-style: none;
		position: relative;
		margin: auto !important;
		list-style-position: outside;
		z-index:9;
	}
	#nav ul:after {
		content: "";
		clear: both;
		display: block;
	}
	#nav ul li {
		float: left;
		line-height: 0px !important;
		font-family: 'Open Sans', sans-serif !important;
		max-height: 30px;
		/*min-height: 54px;*/
		-webkit-transition: background-color .1s ease-in-out;
		-moz-transition: background-color .1s ease-in-out;
		-o-transition: background-color .1s ease-in-out;
		transition: background-color .1s ease-in-out;
	}
	#nav ul li li {
		max-height: 62px;
		min-height: 42px;
	}
	#nav ul li a {
		display: block;
		text-decoration: none;
		font-size: 14.4px !important;
		font-weight: 550 !important;
	/*	text-transform: uppercase;  */
		padding: 16px 20px 18px 15px !important;
	}
	#nav ul ul {
		position: absolute;
		top: 100%;
		background: #D3D3D3;
		list-style: none;
		list-style-position: outside;
		min-width: 250px;
		width: auto;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding: 0 !important;
		margin-top: -6px !important;
		border: 1px;
		height: 0px;
	}
	#nav ul ul li {
		float: none;
		position: relative;
	}
	#nav ul ul li a {
		padding: 12px 16px !important;
		font-size: 14.4px !important;
	}
	#nav ul ul ul {
		position: absolute;
		left: 100%;
		top: 0;
		margin-top: 0 !important;
	}
	#nav ul li, #nav ul li:hover li, #nav ul li:hover li:hover li { /* change background-color for li elements, not a elements */
		background-color: #f1f1f1;
	}
	#nav ul li:hover, #nav ul li:hover li:hover, #nav ul li:hover li:hover li:hover, #nav ul li.currentFix:hover, #nav ul li.currentFix.nav-level-4:hover, #nav ul li.currentFix.nav-level-4:hover li.currentFix.nav-level-5:hover { /* change hover background-color for li elements, not a elements */
		background-color: #fff;
	}
	#nav ul li a, #nav ul li:hover li a, #nav ul li:hover li:hover li a { /* change color for a elements, ensure background is transparent */
		background-color: transparent;
		color: #330033;
	}
	#nav ul li:hover a, #nav ul li:hover li:hover a, #nav ul li:hover li:hover li:hover a, #nav ul li.currentFix > a, #nav ul li.currentFix.nav-level-4 > a, #nav ul li.currentFix.nav-level-5 > a, #nav ul li.currentFix.nav-level-4:hover li.currentFix.nav-level-5 > a, #nav ul li.currentFix:hover > a, #nav ul li.currentFix.nav-level-4:hover > a, #nav ul li.currentFix.nav-level-4:hover li.currentFix.nav-level-5:hover > a { /* change hover color for a elements */
		color: #330033;
	}
	#nav ul li.currentFix, #nav ul li.currentFix.nav-level-4, #nav ul li.currentFix.nav-level-5, #nav ul li.currentFix.nav-level-4:hover li.currentFix.nav-level-5 { /* change color/background-color for the current active breadcrumb trail */
		background-color: #f6d475;
		color: #D3D3D3;
	}
	/* begin dropdown arrow for top level navigation */
		ul li span.has-child {
			cursor: default;
			float: right;
			margin-left: 5px;
			padding: 16px 25px 18px 15px !important;
			position: relative;
			top: -16px;
		}
		ul li span.has-child:after {
			content: '\25BC';
		}
	/* end dropdown arrow for top level navigation */
	/* begin dropdown arrow for lower level navigation */
		ul li ul li span.has-child {
			cursor: default;
			float: right;
			margin-left: 20px;
			padding: 12px 16px !important;
			position: relative;
			top: -12px;
			right: -16px;
		}
		ul li ul li span.has-child:after {
			content: '\25BA';
		}
	/* end dropdown arrow for lower level navigation */
	/* begin primo-override for regular dropdown */
		.header, prm-topbar {
			z-index: 10000 !important;
		}
		prm-topbar {
			height: inherit !important;
		}
		prm-user-area md-fab-toolbar ._md-fab-toolbar-wrapper {
			max-height: 60px !important;
		}
		.top-nav-bar {
			height: 60px !important;
			min-height: 60px !important;
		}
		#nav ul li:first-child a {
			padding-right: 16px !important;
		}
		#nav ul li a:hover {
			box-shadow: none !important;
		}
	/* end primo-override for regular dropdown */
/* end normal dropdown navigation */

/* begin mobile dropdown navigation */

	/*! #######################################################################

		MeanMenu 2.0.7
		--------

		To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

	####################################################################### */

	/* hide the link until viewport size is reached */
	a.meanmenu-reveal {
		display: none;
	}

	/* when under viewport size, .mean-container is added to body */
	.mean-container .mean-bar {
		float: left;
		width: 100%;
		position: relative;
		background: #D3D3D3;
		padding: 4px 0 1px;
		min-height: 42px;
		z-index: 999999;
		margin-bottom: 4px !important;
	}

	.mean-container a.meanmenu-reveal {
		width: 24px;
		height: 24px;
		padding: 13px 13px 11px 13px;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		color: #fff;
		text-decoration: none;
		font-size: 16px;
		text-indent: -9999em;
		line-height: 22px;
		font-size: 1px;
		display: block;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 700;
	}

	.mean-container a.meanmenu-reveal span {
		display: block;
		background: #fff;
		height: 3px;
		margin-top: 3px;
	}

	.mean-container .mean-nav {
		float: left;
		width: 100%;
		background: #D3D3D3;
		margin-top: 44px;
	}

	.mean-container .mean-nav ul {
		padding: 0;
		margin: 0;
		width: 100%;
		list-style-type: none;
	}

	.mean-container .mean-nav ul li {
		background:#D3D3D3 !important;
		position: relative;
		float: left;
		width: 100%;
	}

	.mean-container .mean-nav ul li a {
		display: block;
		float: left;
		width: 90%;
		padding: 1em 5%;
		margin: 0;
		text-align: left;
		color: #fff;
		border-top: 1px solid #383838;
		border-top: 1px solid rgba(255,255,255,0.5);
		text-decoration: none;
		text-transform: uppercase;
		font-size: 14.4px !important;
		font-weight: 600 !important;
	}

	.mean-container .mean-nav ul li li a {
		width: 80%;
		padding: 1em 10%;
		border-top: 1px solid #f1f1f1;
		border-top: 1px solid rgba(255,255,255,0.25);
		opacity: 1;
		filter: alpha(opacity=75);
		text-shadow: none !important;
		visibility: visible;
	}

	.mean-container .mean-nav ul li.mean-last a {
		border-bottom: none;
		margin-bottom: 0;
	}

	.mean-container .mean-nav ul li li li a {
		width: 70%;
		padding: 1em 15%;
	}

	.mean-container .mean-nav ul li li li li a {
		width: 60%;
		padding: 1em 20%;
	}

	.mean-container .mean-nav ul li li li li li a {
		width: 50%;
		padding: 1em 25%;
	}

	.mean-container .mean-nav ul li a:hover {
		background: #252525;
		background: rgba(255,255,255,0.1) !important;
		box-shadow: none !important;
	}

	.mean-container .mean-nav ul li a.mean-expand {
		margin-top: 1px;
		width: 26px;
		height: 26px;
		padding: 12px !important;
		text-align: center;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
		font-weight: 700;
		background: rgba(255,255,255,0.1);
		border: none !important;
		border-left: 1px solid rgba(255,255,255,0.4) !important;
		border-bottom: none !important;
	}

	.mean-container .mean-nav ul li a.mean-expand:hover {
		background: rgba(255,255,255,0.3);
	}

	.mean-container .mean-push {
		float: left;
		width: 100%;
		padding: 0;
		margin: 0;
		clear: both;
	}

	.mean-nav .wrapper {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	/* Fix for box sizing on Foundation Framework etc. */
	.mean-container .mean-bar, .mean-container .mean-bar * {
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}


	/* begin meanmenu custom styles */
		.mean-remove {
			display: none !important;
		}
		.mean-container .has-child, .mean-bar .has-child {
			display: none !important;
		}
		.mean-container .mean-nav > ul li:first-child a:first-child {
			border-top: none !important;
		}
		.mean-container .mean-nav > ul, .mean-container .mean-nav > ul li ul li:first-child a:first-child, .mean-container .mean-nav ul li li a, .mean-container .mean-nav > ul li:first-child li a:first-child {
			border-top: 1px solid rgba(255,255,255,0.5) !important;
		}
		.mean-container .mean-nav ul li a:first-child {
			line-height: 1.5 !important;
		}
		.mean-container .nav-level-4 {
			padding-right: 0 !important;
		}
		.meanmenu-logo img {
			height: 38px;
		}
		.mean-container .mean-nav ul li.currentFix {
			background:#f6d475 !important;
		}
		.mean-container .mean-nav ul li.currentFix > a {
			color:#D3D3D3 !important;
		}
		.mean-container a:hover, .mean-container a:focus {
			box-shadow: none !important;
		}
		.mean-container a.meanmenu-reveal:hover, .mean-container a.meanmenu-reveal:focus {
			background: rgba(255,255,255,0.2) !important;
		}
		.mean-container .mean-overlay {
			position:fixed;
			top:0;
			left:0;
			bottom:0;
			right:0;
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
			background: #000000;
			opacity: .3;
			filter: alpha(opacity=30);
			-moz-opacity: .3;
			z-index: 101;
			display: block;
		}
		.mean-container .mean-overlay-hidden {
			display: none;
		}
		.mean-container {
			height: 60px !important;
		}
	/* end meanmenu custom styles */

	/* begin primo-override for mobile dropdown */
		/* these zindex changes prevent the mobile menu from obstructing existing functionality */
		md-toolbar.bottom-fixed-toolbar {
			z-index: 10001 !important;
		}
		.header, .mean-container { /* prevent dropdown menus from falling behind page elements */
			z-index: 10002 !important;
		}
		prm-main-menu[menu-type=full] .close-button, .md-scroll-mask, .md-dialog-container, md-backdrop._md-dialog-backdrop, md-tooltip { /* move login window in front of menu and chat widget */
			z-index: 10003 !important;
		}
		._md-select-menu-container, md-backdrop._md-select-backdrop, ._md-open-menu-container, md-backdrop._md-menu-backdrop, #prm-simple-search { /* prevent various elements from falling behind customizations */
			z-index: 10004 !important;
		}
		/* these just make some minor visual changes, no repositioning is occuring */
		.md-button.button-with-icon>prm-icon+span { /* remove unnecessary padding on buttons */
			padding-right: 0;
		}
		.facet-to-left-spacer { /* fix advanced search from falling off the page */
			display: none;
		}
		.md-fab-toolbar-wrapper md-toolbar {
			pointer-events: inherit;
		}
		.md-fab-toolbar-wrapper md-toolbar .md-fab-action-item {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
			transition-delay: 200ms;
		}
		.md-fab-toolbar-wrapper md-toolbar .md-fab-action-item md-input-container md-select:focus{
			background-color: transparent;
		}
		prm-user-area, prm-search-bookmark-filter .md-button {
			background-color: transparent;
		}
		prm-search-bookmark-filter .md-button:hover {
			background-color: rgba(0,0,0,.1);
		}
	/* end primo-override for mobile dropdown */
/* end mobile dropdown navigation */
/********************************************************************************************************/

/* SpringShare Chat*/
iframe#iframe_679a47559959e1a7d7caa855a416f1fb {
    max-height: 60%;
}
.s-lch-widget-float-btn{
background-color: transparent !important;
box-shadow:none !important;}
/* SpringShare Chat END */
/*Askus Box* Start*/
/*Askus Box* Start*/
.dropdown {
  position: relative;
  display: inline-block;
  cursor:pointer
}

.dropdown:hover{background-color: rgba(61,110,148,.1);}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 330px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 16px;
  z-index: 1;
  cursor: auto;
  line-height: 1;
  border-radius: 10px;
}
.change{ display:block !important;}

/*Askus Box* End */
