/*** Maritime (01CALS_MAL) ***/

/* navbar color change */

/*.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-journals-search-bar {
    color: white;
    background-color: #f4f4ed;
}
.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1, prm-journals-search-bar.prm-hue1 {
    background-color: #f4f4ed;
}
.prm-primary-bg.prm-hue2, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue2, prm-journals-search-bar.prm-hue2, md-backdrop.md-opaque {
    background-color: #f4f4ed;
}
.prm-primary-bg.prm-hue3, prm-spinner.prm-hue3.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue3, prm-journals-search-bar.prm-hue3 {
    background-color: #dcdcd8;
}
.prm-primary-bg.prm-hue3-important, prm-spinner.prm-hue3-important.overlay-cover.light-on-dark:after, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background, prm-search-bar.prm-hue3-important, prm-journals-search-bar.prm-hue3-important {
    background-color: #dcdcd8 !important;
}
.prm-primary-bg.prm-hue4, prm-spinner.prm-hue4.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue4, prm-journals-search-bar.prm-hue4 {
    background-color: #dcdcd8; 002c5a ; 002750 ; e5e5e5 ; #325a83
}  */

.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-journals-search-bar {
    color: white;
    background-color: #ff0000;
}
.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1, prm-journals-search-bar.prm-hue1 {
    background-color: #003165;
}
.prm-primary-bg.prm-hue2, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue2, prm-journals-search-bar.prm-hue2, md-backdrop.md-opaque {
    background-color: #ff0000;
}
.prm-primary-bg.prm-hue3, prm-spinner.prm-hue3.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue3, prm-journals-search-bar.prm-hue3 {
    background-color: #ff0000;
}
.prm-primary-bg.prm-hue3-important, prm-spinner.prm-hue3-important.overlay-cover.light-on-dark:after, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background, prm-search-bar.prm-hue3-important, prm-journals-search-bar.prm-hue3-important {
    background-color: #ff0000 !important;
}
.prm-primary-bg.prm-hue4, prm-spinner.prm-hue4.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue4, prm-journals-search-bar.prm-hue4 {
    background-color: #ff0000;
}


/* Hide Language options */

/* md-toolbar prm-change-lang {
    display: none;
}
.user-menu-button span.user-language {
    display: none;
} */

/* search bar color change #fff */

.prm-primary-bg, prm-journals-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark:after {
    color: #333;
    background-color: #ebebeb;
}  

body, html {
   background-color: #ebebeb;
}

.prm-brief-result-container .list-item-primary-content {
   background-color: #ebebeb;
}


/* make logo clickable */

prm-logo div.product-logo {
    display:none;
}
prm-logo div.product-logo-local {
    display: flex;
}
prm-logo .product-logo a:hover {
    background-color:transparent;
    text-transform:none;
    box-shadow: none;
}

/* light top background */

/* div.top-nav-bar * {
    color: #003d75 !important;
} */

div.top-nav-bar * {
    color: #fff !important;
}

/*re-order My Library Card and Sign in/out links */
/* .md-toolbar-tools .md-fab-action-item:nth-child(1) {position:absolute;right:300px; top:0;}
.md-toolbar-tools .md-fab-action-item:nth-child(2) {position:absolute;right:150px;top:0;}
.md-toolbar-tools .md-fab-action-item:nth-child(3) {position:absolute;right:0px;top:0;} */

/*Move Expand results to bottom of page */ 
prm-facet div div div.sidebar-section.margin-top-small.margin-bottom-medium.compensate-padding-left:nth-child(2) { 
order:100; 
} 

prm-facet div div div.sidebar-section.margin-top-small.margin-bottom-medium.compensate-padding-left:nth-child(3) { 
order:100; 
} 

prm-no-search-result li:nth-child(2){ 
display:none; 
} 

/* Re-Order ALMA Mashup Services*/ 
[ng-if="$ctrl.loadAdditionalServices"] { 
display: flex; 
flex-direction: column; 
} 
prm-login-alma-mashup {order:1;} 

prm-alma-mashup{order:0;} 

/* Eliminate small columns */
.main{
	webkit-flex: 0 0 55%;
}



