/*** Sonoma (01CALS_SOL) ***/

/* top menu */

.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prim-search-bar.prm-hue1, prm-newspapers-search-bar {
	background-color: #143B87;
}

/* alert bar */
.bar.alert-bar {
	background-color: #efefef;
	border-color: #efefef;
}


/* search term highlighting */

mark {
	font-weight: bold;
	color: #6a6a6a;
}

/* make logo clickable */

prm-logo div.product-logo {
    display:none;
}
prm-logo div.product-logo-local {
    display: flex;
}
prm-logo .product-logo a:hover {
    background-color:transparent;
    text-transform:none;
    box-shadow: none;
}

/* Item Title Styling */
prm-brief-result .item-title span {
	margin: .25em 0;
}

.full-view-container prm-brief-result .item-title span {
	color: #1A4C76;
	margin: .25em 0 0 0;
}

    
/* Full Text Available not look like a link */
    :not(.button-content) > .availability-status > span {
  color: rgb(58, 58, 58);
}

/* Report a Problem Form styling */
oca-report-problem {
    float: right;
    margin: 0 20px 10px 10px;
}

oca-report-problem .bar.filter-bar {
    margin: 0;
    padding: 0;
    background: none;
    height: auto;
    min-height: 10px;
    color: #fff;
    border: none;
}

oca-report-problem .bar.filter-bar button {
    background: #1A4C76;
    color: #fff;
    padding: 1px 10px;
}

prm-full-view .report-problem-form-wrapper {
    position: absolute;
    right: 0;
    z-index: 1000;
    width: 650px;
    box-shadow: 0 2px 6px 0 #eee;
    padding-top: 0;
    margin-top: 5px;
}
    

/* Send To styling */
.full-view-section#action_list prm-action-list>md-nav-bar .md-nav-item .md-button {
	color: #143B87;
}

/* To add spacing to the details section; from the sandbox central package */
.full-view-section #item-details div .word-break {
    margin: 0 0 12px 0;
    }