/*** San Diego (01CALS_SDL) ***/

/* navbar color change */
prm-search-bookmark-filter .md-button {
	background: inherit;
}
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-journals-search-bar {
    color: white;
    background-color: #fff;
}
.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1, prm-journals-search-bar.prm-hue1 {
    background-color: #fff;
}
.prm-primary-bg.prm-hue2, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue2, prm-journals-search-bar.prm-hue2, md-backdrop.md-opaque {
    background-color: #fff;
}
.prm-primary-bg.prm-hue3, prm-spinner.prm-hue3.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue3, prm-journals-search-bar.prm-hue3 {
    background-color: #fff;
}
.prm-primary-bg.prm-hue3-important, prm-spinner.prm-hue3-important.overlay-cover.light-on-dark:after, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background, prm-search-bar.prm-hue3-important, prm-journals-search-bar.prm-hue3-important {
    background-color: #fff !important;
}
.prm-primary-bg.prm-hue4, prm-spinner.prm-hue4.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue4, prm-journals-search-bar.prm-hue4 {
    background-color: #fff;
}

/* favorites */
md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-active:not([disabled]) {
	color: #000;
}
md-content, md-content.md-primoExplore-theme {
	background: #f7fcff;
}
prm-brief-result-container {
	border: 1px solid rgba(230,237,242,0.4);
}
.result-item-actions .md-icon-button {
	color: #1a1818;
}
prm-user-area {
	background: inherit;
}
.md-button.button-confirm {
	color: #00cad2;
}
.md-button.button-confirm:hover:not([disabled]) {
	background: rgba(58,58,58,.1)
}

/* search bar color change */
.prm-primary-bg, prm-journals-search-bar, prm-search-bar, prm-spinner.overlay-cover.light-on-dark:after {
    color: #333;
    background-color: #fff;
}

/* make logo clickable */

prm-logo div.product-logo {
    display:none;
}
prm-logo div.product-logo-local {
    display: flex;
}
prm-logo .product-logo a:hover {
    background-color:transparent;
    text-transform:none;
    box-shadow: none;
}

/* light top background */

div.top-nav-bar, ._md-fab-toolbar-wrapper {
    border-bottom: 2px solid #eee;
}
div.top-nav-bar * {
    color: #222 !important;
}

/* Suppress OOB no results message - KJ */
prm-no-search-result > md-card {
    display:none;
}

/* -------------- */
/* custom changes */
/* -------------- */

a {color: #c41230;}

/* logo */
prm-logo .product-logo {
	padding: 5px 10px;
}
a.md-button.arrow-link-button .button-content, a {
	padding-bottom: 0;
	display: inherit;
}

/* nav */
.header.topbar-wrapper.relative-position.layout-column {
    border-bottom: 1px solid #c41230;
}
md-dialog.light-on-dark-dialog md-list md-list-item .md-list-item-text .list-item-title, md-dialog.light-on-dark-dialog md-list md-list-item .md-list-item-text h3 {
	color: #00cad2;
}
h2 span {
	color: #fff;
}
prm-main-menu[menu-type=full] .md-button, prm-main-menu[menu-type=full] .md-button:hover:not([disabled]), prm-main-menu[menu-type=full] .overlay-menu-item:hover:not([disabled]), prm-main-menu[menu-type=full] md-card .md-headline {
	color: #000;
}
prm-main-menu[menu-type=full] md-card:hover:not([disabled]) {
	background: #efefef;
}
prm-main-menu[menu-type=full] {
	color: #000;
}
md-card.transparent-card.md-ink-ripple._md.md-primoExplore-theme {
    border: 1px solid #ccc;
}

/* login */
md-dialog.light-on-dark-dialog md-input-container .md-input, md-dialog.light-on-dark-dialog md-input-container.md-input-focused .md-input, md-dialog.light-on-dark-dialog md-input-container.md-input-focused:not(.md-input-invalid) .md-input, md-dialog.light-on-dark-dialog md-input-container.md-input-focused:not(.md-input-invalid) input, md-dialog.light-on-dark-dialog md-input-container.md-input-focused:not(.md-input-invalid) label, md-dialog.light-on-dark-dialog md-input-container.md-input-focused input, md-dialog.light-on-dark-dialog md-input-container.md-input-focused label, md-dialog.light-on-dark-dialog md-input-container.md-input-has-value .md-input, md-dialog.light-on-dark-dialog md-input-container.md-input-has-value input, md-dialog.light-on-dark-dialog md-input-container.md-input-has-value label, md-dialog.light-on-dark-dialog md-input-container input, md-dialog.light-on-dark-dialog md-input-container label {
	color: rgba(0,0,0,.52);
}
md-input-container.centered-input {
	border-bottom: 1px solid rgba(0,0,0,.52);
}
.light-on-dark-dialog md-input-container label:not(.md-no-float):not(._md-container-ignore) {
	color: rgba(0,0,0,.52);
}
.md-button.md-icon-button.icon-button-large md-icon {
	display: none;
}

/* search results */
prm-icon md-icon, prm-icon md-icon.md-primoExplore-theme, .md-button.button-as-link.link-alt-color {
	color: #00cad2!important;
}
prm-icon md-icon:hover, prm-icon md-icon.md-primoExplore-theme:hover {
	color: #fff;
}
prm-search-result-list .pages-separated-with-gaps .list-item-wrapper.first-in-page:first-of-type {
	border-top: 1px solid #000;
}
/* advanced search */
md-radio-button.md-checked ._md-on {
	background: #00cad2;
}
button.button-confirm.button-large.button-with-icon.md-button.md-primoExplore-theme.md-ink-ripple:hover {
    color: #00cad2 !important;
}
span.md-subhead {
    color: #000;
}

/* Added by Keven for staging notice 5/18/2018 */
.messagenotice {
    padding: 20px;
    background-color: #47A8F5;
    color: white;
}