/*** Sacramento (01CALS_USL) ***/

/*Disable Tags*/ 
.md-button[aria-label="nui.mainmenu.label.tags"] {display:none;}

div.custom-links-container md-card:nth-child(2) {
	display: none;
}


/* navbar color change */

.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-journals-search-bar, prm-atoz-search-bar {
    color: white;
    background-color: #f4f2f1;
}
.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1, prm-journals-search-bar.prm-hue1, prm-atoz-search-bar.prm-hue1 {
    background-color: #f4f2f1;
}
.prm-primary-bg.prm-hue2, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue2, prm-journals-search-bar.prm-hue2, prm-atoz-search-bar.prm-hue2 md-backdrop.md-opaque {
    background-color: #f4f2f1;
}
.prm-primary-bg.prm-hue3, prm-spinner.prm-hue3.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue3, prm-journals-search-bar.prm-hue3, prm-atoz-search-bar.prm-hue3 {
    background-color: #f4f2f1;
}
.prm-primary-bg.prm-hue3-important, prm-spinner.prm-hue3-important.overlay-cover.light-on-dark:after, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background, prm-search-bar.prm-hue3-important, prm-journals-search-bar.prm-hue3-important, prm-atoz-search-bar.prm-hue3-important {
    background-color: #f4f2f1 !important;
}
.prm-primary-bg.prm-hue4, prm-spinner.prm-hue4.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue4, prm-journals-search-bar.prm-hue4, prm-atoz-search-bar.prm-hue4 {
    background-color: #f4f2f1;
}

/* hide language selector */
prm-change-lang {
    display: none;
}


/* search bar color change */

.prm-primary-bg, prm-browse-search-bar, prm-atoz-search-bar, prm-journals-search-bar, prm-search-bar, prm-tags-search-bar, prm-spinner.overlay-cover.light-on-dark:after {
    color: #444;
    background-color: #008453;
}

prm-journals-search-bar .search-switch-buttons .md-button.switch-to-advanced, prm-search-bar .search-switch-buttons .md-button.switch-to-advanced {
    color: white;
}

prm-browse-search-bar .search-switch-buttons .md-button.switch-to-simple, prm-journals-search-bar .search-switch-buttons .md-button.switch-to-simple, prm-search-bar .search-switch-buttons .md-button.switch-to-simple, prm-tags-search-bar .search-switch-buttons .md-button.switch-to-simple {
    color: white;
}

.md-button.button-confirm, .service-form-static-panel button.button-confirm prm-icon+span, .service-form-static-panel button.button-confirm prm-icon svg path {
    color: #dd971a;
}

.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-journals-search-bar, prm-atoz-search-bar {
    background-color: #008453;
}

prm-browse-search-bar .advanced-search-backdrop.visible, prm-journals-search-bar .advanced-search-backdrop.visible, prm-atoz-search-bar .advanced-search-backdrop.visible, prm-search-bar .advanced-search-backdrop.visible, prm-tags-search-bar .advanced-search-backdrop.visible {
	background-color: #008453;
}

/* Hide Tags in Detailed Display */
[aria-label="TAGS"]{display:none;}
#tags{display:none;}

/* Hide Tags in Menu Tab */
a.md-button[aria-label="TAGS"] {display:none;}
a.md-button[aria-label="nui.mainmenu.label.tags"] {display:none;}


prm-citation-linker, header.layout-row {
	background-color: #008453;
	color: white;
}

.form-shaded-content {
    color: black;
}


/* account bar color change */
.__sm .prm-hue1.sidebar, .__sm prm-facet.prm-hue1, .__xs .prm-hue1.sidebar, .__xs prm-facet.prm-hue1, .default-tabs[md-border-bottom]>md-tabs-wrapper, .full-view-inner-container+.full-view-aside:before, .prm-background.prm-hue1, .prm-horizontal-content .horizontal-content-control, .prm-horizontal-content .horizontal-content-control:hover, .prm-hue1.prm-view-overlay-inner, body.prm-hue1, html.prm-hue1, md-card .card-divider, md-card .prm-hue1.card-content-block, md-dialog md-toolbar.prm-hue1:not(.md-menu-toolbar), md-toolbar.default-toolbar, md-toolbar.default-toolbar:not(.md-menu-toolbar), md-toolbar.md-primoExplore-theme.default-toolbar, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue1, prm-browse-search-bar .simple-search-wrapper .prm-hue1.search-options:after, prm-browse-search-bar .simple-search-wrapper .search-options md-divider.prm-hue1, prm-full-view-cont .prm-hue1.recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon.prm-hue1, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue1.pin-button, prm-journals-search-bar .simple-search-wrapper .prm-hue1.search-options:after, prm-journals-search-bar .simple-search-wrapper .search-options md-divider.prm-hue1, prm-search-bar .simple-search-wrapper .prm-hue1.search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue1, prm-tags-search-bar .simple-search-wrapper .prm-hue1.search-options:after, prm-tags-search-bar .simple-search-wrapper .search-options md-divider.prm-hue1 {
    background-color: #008453;
}

md-toolbar.md-primoExplore-theme .toolbar-divider+.toolbar-title, md-toolbar .toolbar-divider+.toolbar-title, md-toolbar:not(.md-menu-toolbar) .toolbar-divider+.toolbar-title {
    color: white;
}

/* Make search box underlining darker */
md-input-container.underlined-input ._md-select-value, md-input-container.underlined-input .md-select-value, md-input-container.underlined-input input,md-input-container.underlined-input md-select-value, md-input-container.underlined-input textarea {
	border-bottom-color: rgba(0,0,0,.7);
}

/* Chnage back navigation and filters styles */
md-toolbar .back-button.has-text, md-toolbar .back-button.md-focused.has-text, md-toolbar.md-primoExplore-theme .back-button.has-text, md-toolbar.md-primoExplore-theme .back-button.md-focused.has-text, md-toolbar:not(.md-menu-toolbar) .back-button.has-text, md-toolbar:not(.md-menu-toolbar) .back-button.md-focused.has-text {
    color: white;
}

md-toolbar .md-button:only-child, md-toolbar.md-primoExplore-theme .md-button:only-child, md-toolbar:not(.md-menu-toolbar) .md-button:only-child {
    color: white;
}

/* alert bar color change */

.bar.alert-bar, .classic-input .search-scope, .prm-alert-bg {
	border-color: #444;
    background-color: #e4e878;
}

/* make logo clickable */

prm-logo div.product-logo {
    display:none;
}
prm-logo div.product-logo-local {
    display: flex;
}
prm-logo .product-logo a:hover {
    background-color:transparent;
    text-transform:none;
    box-shadow: none;
}

/* light top background */

div.top-nav-bar * {
    color: #444 !important;
}

/* Journal A-Z Styles */
prm-alphabet-toolbar .md-button {
    color: #fff !important;
}

prm-alphabet-toolbar .md-button.active, prm-alphabet-toolbar .md-button.active.md-focused, prm-alphabet-toolbar .md-button.active:focus, prm-alphabet-toolbar .md-button.active:hover {
	color: #000 !important;
	background-color: #e4e878;
}

/* Favorites Styles */
md-toolbar.default-toolbar, md-toolbar.default-toolbar:not(.md-menu-toolbar), md-toolbar.md-primoExplore-theme.default-toolbar {
    background-color: #008453;
    color: #fff;
}

prm-favorites-tool-bar .disabledFavTool {
    color: #fff;
}

/* Reorder full record details */
#getit_link1_0 { order: 0; }
#getit_link2_0 { order: 1; }

#action_list{ order: 2; }
#details { order: 3; }
#links { order: 4; }
#virtualBrowse { order: 5; }
.full-view-inner-container {
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
}
[aria-label="Online Access"] { order: 0 !important; }
[aria-label="In the library"] { order: 1 !important; }
[aria-label="Send to"] { order: 2 !important; }
[aria-label="Details"] { order: 3 !important; }
[aria-label="Links"] { order: 4 !important; }
[aria-label="Virtual Browse"] { order: 5 !important; }

/* Hide Tags in Detailed Display */
[aria-label="Tags"]{display:none;}
#tags{display:none;}

/* change Send To icon and link color */
.saved-query-list>md-nav-bar .md-nav-item .md-button, prm-action-list>md-nav-bar .md-nav-item .md-button {
    color: #5c92bd;
}
