<md-card class="default-card zero-margin">
	<md-card-title>
		<md-card-title-text>
			<span translate class="md-headline">nui.noresults.title</span>
		</md-card-title-text>
	</md-card-title>
	<md-card-content>
		<p>
			<span ng-if="!$ctrl.isSearchWithFilter" translate="nui.noresults.description" translate-value-term="{{$ctrl.term}}"></span>
			<span ng-if="$ctrl.isSearchWithFilter" translate="nui.noresultswithfilter.description" translate-value-term="{{$ctrl.term}}"></span>
		</p>
		<p>
			<a href="https://www.worldcat.org/search?qt=worldcat_org_all&q={{$ctrl.term}}" class="btn-link" target="_blank">Search WorldCat for {{$ctrl.term}}.<prm-icon external-link icon-type="svg" svg-icon-set="primo-ui" icon-definition="open-in-new" aria-label="{{'nui.externalLink' | translate}}"></prm-icon></a>
		</p>
		<p>
			<span translate class="bold-text">nui.noresults.suggestions</span>
		</p>
		<ul>
			<li translate>nui.noresults.suggestions1</li>
			<li translate>nui.noresults.suggestions2</li>
			<li translate>nui.noresults.suggestions3</li>
			<li translate>nui.noresults.suggestions4</li>
			<li translate>nui.noresults.suggestions5</li>
		</ul>
	</md-card-content>
</md-card>